@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?et2mic') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?et2mic') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?et2mic##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-circle-plus {
  &:before {
    content: $icon-circle-plus; 
  }
}
.icon-file {
  &:before {
    content: $icon-file; 
  }
}
.icon-folder {
  &:before {
    content: $icon-folder; 
  }
}
.icon-list-flat {
  &:before {
    content: $icon-list-flat; 
  }
}
.icon-list-grouped {
  &:before {
    content: $icon-list-grouped; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-x {
  &:before {
    content: $icon-x; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-spinner {
  &:before {
    content: $icon-spinner; 
  }
}
.icon-external-link {
  &:before {
    content: $icon-external-link; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-copy {
  &:before {
    content: $icon-copy; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-delete {
  &:before {
    content: $icon-delete; 
  }
}
.icon-gear {
  &:before {
    content: $icon-gear; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-actions {
  &:before {
    content: $icon-actions; 
  }
}
.icon-vertical-ellipsis {
  &:before {
    content: $icon-vertical-ellipsis; 
  }
}
.icon-dot-half {
  &:before {
    content: $icon-dot-half; 
  }
}
.icon-error {
  &:before {
    content: $icon-error; 
  }
}
.icon-dot-open {
  &:before {
    content: $icon-dot-open; 
  }
}
.icon-dot {
  &:before {
    content: $icon-dot; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-sort-down {
  &:before {
    content: $icon-sort-down; 
  }
}
.icon-sort-up {
  &:before {
    content: $icon-sort-up; 
  }
}
.icon-sort {
  &:before {
    content: $icon-sort; 
  }
}

