.banner {
  padding: 10px;
  margin: 15px 0;
  width: 100%;
  border-radius: var(--border-radius);
  transition: all 0.2s ease;

  &.primary {
    background: var(--primary);
    border: solid 1px var(--primary);
    color: var(--body-text);
  }

  &.secondary {
    background: var(--baner-bg);
    border: solid 1px var(--secondary);
    color: var(--body-text);
  }

  &.success {
    background: rgba($success, 0.15);
    border: solid 1px var(--success);
    color: var(--body-text);
  }

  &.info {
    background: rgba($info, 0.15);
    border: solid 1px var(--info);
    color: var(--body-text);
  }

  &.warning {
    background: rgba($warning, 0.15);
    border: solid 1px var(--warning);
    color: var(--body-text);
  }

  &.error {
    background: rgba($error, 0.15);
    border: solid 1px (--error);
    color: var(--error);
  }
}
