.banner {
  padding: 10px;
  margin: 15px 0;
  width: 100%;
  border-radius: var(--border-radius);
  transition: all 0.2s ease;

  &.bg-default {
    background: rgba(var(--primary), 0.2);
    border: solid var(--default);
    color: white;

    .banner-icon, .banner-title {
      background: var(--default);
    }
  }

  &.bg-primary {
    background: var(--primary);
    border: solid 1px var(--primary);
    color: white;

    .banner-icon, .banner-title {
      background: $primary;
    }
  }

  &.bg-secondary {
    background: rgba(var(--primary), 0.2);
    border: solid 1px var(--secondary);
    color: white;

    .banner-icon, .banner-title {
      background: var(--secondary);
    }
  }

  &.bg-success {
    background: rgba(var(--primary), 0.2);
    border: solid 1px var(--success);
    color: white;

    .banner-icon, .banner-title {
      background: var(--success);
      color: var(--success);
    }
  }

  &.bg-info {
    background: rgba(var(--primary), 0.2);
    border: solid 1px var(--info);
    color: white;

    .banner-icon, .banner-title, .banner-close {
      background: var(--info);
      color: var(--info);
    }
  }

  &.bg-warning {
    background: rgba(var(--primary), 0.2);
    border: solid 1px var(--warning);
    color: white;

    .banner-icon, .banner-title, .banner-close {
      background: var(--warning);
      color: var(--warning);
    }
  }

  &.bg-error {
    background: rgba(var(--primary), 0.2);
    border: solid 1px (--error);
    color: var(--error);

    .banner-icon, .banner-title, .banner-close {
      background: (--error);
      color: (--error);
    }
  }
}
