// $btn-padding: 15px 40px;
$btn-padding: 0 20px 0 20px;
$btn-sm-padding: 0 7px 0 7px;
$btn-height: 40px;
$btn-sm-height: 30px;
// $xs-padding: 2px 3px;
// $sm-padding: 8px 13px;
// $lg-padding: 18px 30px;

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn,
button,
[class^='btn-'] {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: $btn-padding;
  border-radius: var(--border-radius);
  color: white;
  // height: $btn-height;
  line-height: 38px;

  &:hover {
    text-decoration: none;
  }

  &.bg-transparent {
    color: var(--body-text);
  }
}

//icon button
.icon-btn {
  padding: 0;
  line-height: initial;

  &.btn-sm {
    padding: 0;
  }

  span {
    padding: 0 10px 0 5px;
    vertical-align: middle;
  }
}

.btn-sm,
.btn-group-sm > .btn,
.btn-sm .btn-label {
  padding: $btn-sm-padding;
  height: $btn-sm-height;
  line-height: 28px;
}

//btn roles
.role-primary {
  background: var(--link-text);
}

.role-secondary {
  background: transparent;
  color: var(--primary) !important;
  border: solid thin var(--primary);
}

.role-tertiary {
  background: var(--accent-btn);
  border: solid thin var(--link-text);
  color: var(--link-text);
}

.role-link {
  background: transparent;
  color: var(--link-text) !important;
  padding: $btn-padding;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.role-multi-action {
  background: var(--accent-btn);
  border: solid thin var(--link-text);
  color: var(--link-text);
  border-radius: 2px;
  // line-height: 0;
  // width: $btn-height;
  // padding: 0;
}

.icon-group i {
  font-size: 1.5em;
}

//disabled
.btn-disabled,
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  @extend .bg-disabled;
  cursor: not-allowed;
  border: solid thin var(--input-disabled-border);
}

.btn-group {
  position: relative;
  text-align: initial;
  vertical-align: middle;
  padding: 0;
  border-radius: var(--border-radius);

  .btn {
    position: relative;
    display: inline-block;
    border-radius: 0;
    text-align: center;

    &:focus {
      // Move the focused one to the top so that the focus ring is all visible
      z-index: 1;
    }

    &.active {
      @extend .bg-primary;
    }

    &:first-child {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }

    &:last-child {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
}
