$spacing: 10px;

INPUT:not([type]),
INPUT[type='text'],
INPUT[type='password'],
INPUT[type='number'],
INPUT[type='date'],
INPUT[type='email'],
INPUT[type='search'],
INPUT[type='tel'],
INPUT[type='url'],
SELECT,
TEXTAREA,
.labeled-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  font-size: 12px;

  color: var(--input-text);

  &:not(.view) {
    background-color: var(--input-bg);

    &:hover {
      background: var(--input-hover-bg, var(--input-bg));
      border:none;
    }
  }

  border-color: var(--input-border);
  border-width: $outline-width;
  border-radius: var(--border-radius);
  border-style: solid;
  border-color: transparent;

  &::placeholder {
    color: var(--input-placeholder);
  }

  &.disabled, &[disabled], &[disabled]:hover  {
    color: var(--input-disabled-text);
    background-color: var(--input-disabled-bg, var(--input-bg));
    outline-width: 0;
    border-color: var(--input-disabled-border, var(--input-border));
    cursor: not-allowed;
    &::placeholder {
        color: var(--input-disabled-placeholder, var(--input-placeholder));
    }
  }

}

FORM {
  LABEL {
    color: var(--input-label);
    display: inline-block;
    margin: #{$spacing * 2} 0 $spacing 0;

    &.radio, &.checkbox {
      cursor: pointer;
      margin: 5px 0;

      &.standalone {
        margin: 10px 0;
      }
    }
  }

  .radio-group, .checkbox-group {
    margin: #{$spacing * 2} 0 $spacing 0;
  }

  .actions {
    padding-top: $spacing;
  }

  .detail {
    margin-top: 2px;
    @extend .text-small;
    color: var(--muted);
  }

  .group {
    border: 1px solid var(--input-border);
    padding: 20px;
  }
}

.field-required {
  color: red;
  font-weight: bold;
}

INPUT.inline-input {
  display: inline-block;
  width: 75px;
  margin: 0 10px;
}

SELECT {
  height: 35px;
}

/*
.validated-input {
  INPUT {
    outline-width: 2px;
    outline-offset: -2px;
  }

  &.has-warning INPUT {
    border-color: var(--warning);
  }

  &.has-error INPUT {
    border-color: var(--error);
  }

  &.has-success INPUT {
    border-color: var(--success);
    padding-right: 32px;
    background-image: url(../images/field-valid.svg);
    background-size: 30px;
    background-position: right;
    background-repeat: no-repeat;
  }

  .input-warning-message {
    color: var(--warning-text);
  }

  .input-error-message {
    color: var(--error);
  }
}
*/

.input-title {
    clear: both;
    margin-left: 24px;
    font-size: 12px;
    // color: rgba(255,255,255,.6);
}

// Styling Checkbox Starts
/*
.checkbox, 
.radio {
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    clear: both;
    display: inline-block;
    width: 100%;
  
  > * {
    float: left;
  }
}

.checkbox input,
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox .checkbox-custom,
.radio .checkbox-custom{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 14px;
    width: 14px;
    background-color: transparent;
    border-radius: 3px;
  	transition: all 0.3s ease-out;
    border: 1px solid var(--secondary);
}


.checkbox input:checked ~ .checkbox-custom,
.radio input:checked ~ .checkbox-custom{
    background-color: var(--lightest);
    border-radius: 5px;
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid var(--lightest);
}


.checkbox .checkbox-custom::after,
.radio .checkbox-custom::after{
    position: absolute;
    content: "";
    left: 6px;
    top: 6px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    transform: rotate(0deg) scale(0);
    opacity:1;
  	transition: all 0.3s ease-out;
}


.checkbox input:checked ~ .checkbox-custom::after,
.radio input:checked ~ .checkbox-custom::after{
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 4px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid #009BFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}


// Style for Radio 
.radio .checkbox-custom.circular {
    border-radius: 50%;
    border: 1.5px solid #FFFFFF;
}

.radio input:checked ~ .checkbox-custom.circular {
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1.5px solid #FFFFFF;
}
.radio input:checked ~ .checkbox-custom.circular::after {
    border: solid #0067FF;
    border-width: 0 1.5px 1.5px 0;
}
.radio .checkbox-custom.circular::after {
    border-radius: 50%;
}

.radio .checkbox-custom.circular::before {
    border-radius: 50%;
    border: 1.5px solid #FFFFFF;
}

.radio input:checked ~ .checkbox-custom.circular::before {
    border-radius: 50%;
}
*/
