.labeled-input {
  LABEL {
    position: absolute;
    transform: translate(0, -5px) scale(1);
    transform-origin: top left;
    transition: all 0.1s ease-in-out;
    z-index: 1;
    color: var(--input-placeholder);
    background-color: var(--input-bg);
  }

  &:hover LABEL {
    background-color: var(--input-hover-bg);
  }

  &.raised LABEL {
    transform: translate(0, -20px) scale(0.75);
    color: var(--input-label);
  }

  .required {
    color: red;
  }

  INPUT, SELECT {
    position: relative;
    font-size: 16px;
    display: block;
    width: 100%;
    z-index: 2;
  }

  SELECT.empty {
    color: var(--input-placeholder);
  }

  SELECT {
    -webkit-appearance: textfield;
    user-select: none;
  }

  INPUT:not(.view), INPUT:not(.view):hover, INPUT:focus,
  TEXTAREA:not(.view), TEXTAREA:not(.view):hover, TEXTAREA:focus,
  SELECT:not(.view), SELECT:not(.view):hover, SELECT:focus {
    border: none;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
    padding: 16px 0 0 0;
  }

  &.view > DIV {
    font-size: 16px;
    padding: 16px 0 0 0;
  }
}
