.labeled-input {
  position: relative;

  LABEL {
    position: absolute;
    transform: translate(0, -12px) scale(1);
    transform-origin: top left;
    transition-property: transform, font-size;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    z-index: 1;
    color: var(--input-placeholder);
    background-color: var(--input-bg);
  }

  &:hover LABEL {
    background-color: var(--input-hover-bg);
  }

  &.raised LABEL, .corner {
    transform: translate(0, -20px);
    font-size: 0.75em;
    color: var(--input-label);
  }

  .corner {
    right: 10px;
    margin: 0;
    padding: 0;
    text-align: right;
    z-index: 3;
    transform: none !important;
  }

  .required {
    color: red;
  }

  INPUT, SELECT {
    position: relative;
    font-size: 16px;
    display: block;
    width: 100%;
    z-index: 2;
  }

  SELECT.empty {
    color: var(--input-placeholder);
  }

  SELECT {
    -webkit-appearance: textfield;
    user-select: none;
  }

  INPUT:not(.view), INPUT:not(.view):hover, INPUT:focus,
  TEXTAREA:not(.view), TEXTAREA:not(.view):hover, TEXTAREA:focus,
  SELECT:not(.view), SELECT:not(.view):hover, SELECT:focus {
    border: none;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
    padding: 16px 0 0 0;
  }

  &.view > DIV {
    font-size: 16px;
    padding: 16px 0 0 0;
  }
}
