.labeled-input {
  position: relative;
  display: table;
  border-collapse: separate;


  LABEL {
    position: absolute;
    transform: translate(0, -12px) scale(1);
    transform-origin: top left;
    transition-property: transform, font-size;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    z-index: 1;
    color: var(--input-label);
    background-color: var(--input-bg);
  }

  &:hover LABEL {
    background-color: var(--input-hover-bg);
  }

  /*
  &.raised LABEL, .corner {
    transform: translate(0, -20px);
    font-size: 0.75em;
    color: var(--input-label);
  }
  */

  .corner {
    top: 5px;
    right: 10px;
    margin: 0;
    padding: 0;
    text-align: right;
    z-index: 3;
    transform: none !important;
  }

  .required {
    color: red;
  }

  INPUT, SELECT {
    position: relative;
    font-size: 12px;
    display: block;
    width: 100%;
    z-index: 2;
  }

  SELECT.empty {
    color: var(--input-placeholder);
  }

  SELECT {
    -webkit-appearance: textfield;
    user-select: none;
  }

  INPUT:not(.view), INPUT:not(.view):hover, INPUT:focus,
  TEXTAREA:not(.view), TEXTAREA:not(.view):hover, TEXTAREA:focus,
  SELECT:not(.view), SELECT:not(.view):hover, SELECT:focus {
    border: none;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
    padding: 17px 0 0 0;
    line-height: 1.25rem;
  }

  &.view > DIV:not(.addon) {
    font-size: 12px;
    padding: 17px 0 0 0;
  }

  .addon,
  .addon.btn {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    color: #{$secondary};
  }

  .addon {
    padding: 6px 12px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    border-left: solid thin #{$secondary};
  }

  /*!
  * Bootstrap v3.3.7 (http://getbootstrap.com)
  * Copyright 2011-2016 Twitter, Inc.
  * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
  */
  /*
  .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
  }

  .input-group.search-group {
    position: relative;

    input {
      padding-right: 34px;
    }

    .input-group-btn {
      position: absolute;
      right: 34px;
    }
  }


  .input-group .form-control:focus {
    z-index: 3;
  }

  .input-group-addon,
  .input-group-btn,
  .input-group .form-control {
    display: table-cell;
    vertical-align: middle;
  }

  .input-group-addon,
  .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }

  .input-group-addon {
    @extend .input-label;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;

    .copy-button-container button{
      color: $body-bg;
    }
  }

  .input-group-addon input[type="radio"],
  .input-group-addon input[type="checkbox"] {
    margin-top: 0;
  }

  .input-group-addon:first-child {
    border-right: 0;
  }

  .input-group-addon:last-child {
    border-left: 0;
  }

  .input-group-btn {
    position: relative;
    white-space: nowrap;
  }

  .input-group-btn > .btn {
    position: relative;
    border-radius: 0;
  }

  .input-group-btn > .btn:hover,
  .input-group-btn > .btn:focus,
  .input-group-btn > .btn:active {
    z-index: 2;
  }

  .input-group-btn:first-child > .btn,
  .input-group-btn:first-child > .btn-group {
    margin-right: -1px;
  }

  .input-group-btn:last-child > .btn,
  .input-group-btn,
  .input-group-btn:last-child > .btn-group {
    // z-index: -1;
  }

  //input sizes
  .input-xs,
  input.input-xs,
  .input-group.input-xs input,
  .input-group.input-xs .input-group-addon {
    padding: 2px 3px;
    line-height: initial;
    font-size: .65em;
  }

  .input-sm,
  input.input-sm,
  .input-group.input-sm input,
  .input-group.input-sm .input-group-addon {
    padding: 3px 8px;
    font-size: 0.87em;

    &:not(textarea) {
      max-height: 32px;
    }
  }

  .input-lg,
  input.input-lg,
  .input-group.input-lg input,
  .input-group.input-lg .input-group-addon {
    padding: 18px 30px;
    font-size: 1.25em;
  }
 */ 
}
