.labeled-input {
  position: relative;
  padding: 0 8px;
  margin: 10px 0;

  LABEL {
    position: absolute;
    font-size: 16px;
    transform: translate(0, -5px) scale(1);
    transform-origin: top left;
    transition: all 0.1s ease-in-out;
    z-index: 1;
    color: var(--input-placeholder);
  }

  &.raised LABEL {
    transform: translate(0, -20px) scale(0.75);
    color: var(--input-label);
  }

  .required {
    color: red;
  }

  INPUT, SELECT {
    position: relative;
    font-size: 16px;
    display: block;
    width: 100%;
    z-index: 2;
  }

  SELECT.empty {
    color: var(--input-placeholder);
  }

  SELECT {
    -webkit-appearance: textfield;
    user-select: none;
    height: 46px;
  }

  INPUT, INPUT:hover, INPUT:focus,
  SELECT, SELECT:hover, SELECT:focus {
    border: none;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
    padding: 16px 0 12px;
  }
}
