#loading-overlay {
  z-index: z-index('loadingOverlay');
  background-color: var(--overlay-bg);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#loading-content {
  position: absolute;
  top: 50vh;
  left: 0;
  right: 0;
  text-align: center;
  z-index: z-index('loadingContent');
}

