.tooltip {
  $triangle-size: 5px;
  $triangle-inner-size: $triangle-size - 1px;
  $center: calc(50% - #{$triangle-size});

  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: var(--tooltip-bg);
    color: var(--tooltip-text);
    border-radius: var(--border-radius);
    border: 1px solid var(--tooltip-border);
    padding: 4px 8px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border: $triangle-size solid transparent;
    position: absolute;
    z-index: 1;

    &:after {
      position: absolute;
      border: $triangle-inner-size solid transparent;
      content: '';
    }
  }

  &[x-placement^="top"] {
    margin-bottom: $triangle-size;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      bottom: -4px;
    }

    margin-bottom: $triangle-size;

    .tooltip-arrow {
      border-bottom-width: 0;
      border-top-color: var(--tooltip-border);
      bottom: -$triangle-inner-size;

      &:after {
        border-bottom-width: 0;
        border-top-color: var(--tooltip-bg);
        bottom: 1px;
        left: -$triangle-inner-size;
      }
    }
  }


  &[x-placement^="bottom"] {
    margin-top: $triangle-size;

    .tooltip-arrow {
      border-top-width: 0;
      border-bottom-color: var(--tooltip-border);
      top: -$triangle-inner-size;

      &:after {
        border-top-width: 0;
        border-bottom-color: var(--tooltip-bg);
        top: 1px;
        left: -$triangle-inner-size;
      }
    }
  }

  &[x-placement^="right"] {
    margin-left: $triangle-size;

    .tooltip-arrow {
      border-left-width: 0;
      border-right-color: var(--tooltip-border);
      left: -$triangle-inner-size;

      &:after {
        border-left-width: 0;
        border-right-color: var(--tooltip-bg);
        left: 1px;
        top: -$triangle-inner-size;
      }
    }
  }

  &[x-placement^="left"] {
    margin-right: $triangle-size;

    .tooltip-arrow {
      border-right-width: 0;
      border-left-color: var(--tooltip-border);
      right: -$triangle-inner-size;

      &:after {
        border-right-width: 0;
        border-left-color: var(--tooltip-bg);
        right: 1px;
        top: -$triangle-inner-size;
      }
    }
  }
}

.popover {
  $color: var(--popover-bg);
  border: 1px solid var(--border);
  border-radius: var(--popover-border-radius);

  .popover-inner {
    background: $color;
    color: var(--popover-text);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 30px var(--overlay-bg);

    a {
      color: var(--popover-text);
    }
  }

  .popover-arrow {
    border-color: $color;
  }
}

.v-popover {
  display: inline;
}

.tooltip, .popover {
  &[aria-hidden='true'] {
    visibility: hidden;
    display: none !important;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}

// load here instead of component so SSR render isn't all wonky
.dropdown-button-group {
  // this matches the top/bottom padding of the default button
  $button-top-bottom-padding: 15px;
  $btn-padding: $button-top-bottom-padding 20px;
  $trigger-padding: $button-top-bottom-padding 10px 10px 10px;
  $xs-trigger-padding: 2px 4px 4px 4px;
  $sm-trigger-padding: 8px 10px 10px 10px;
  $lg-trigger-padding: 18px 10px 10px 10px;

  .v-popover {
    .text-right {
      margin-top: 5px;
    }
    .trigger {
      height: 100%;
      .icon-container {
        height: 100%;
        padding: $trigger-padding;
        &.btn-xs {
          padding: $xs-trigger-padding;
        }
        &.btn-sm {
          padding: $sm-trigger-padding;
        }
        &.btn-lg {
          padding: $lg-trigger-padding;
        }
      }
    }
  }
  .dropdown-button {
    background: var(--accent-btn);
    border: solid thin var(--link-text);
    color: var(--link-text);
    padding: 0;

    .button-divider {
      border-right: 1px solid var(--link-text);
      margin: 10px 0;
    }

    &.btn-xs {
      .button-divider {
        margin: 1px 0;
      }
    }
  }
  .popover {
    border: none;
  }
  .tooltip {
    &[x-placement^="bottom"] {
      .tooltip-arrow {
        border-bottom-color: var(--dropdown-border);

        &:after {
          border-bottom-color: var(--dropdown-bg);
        }
      }
    }

    .tooltip-inner {
      color: var(--dropdown-text);
      background-color: var(--dropdown-bg);
      border: 1px solid var(--dropdown-border);
      padding: 0px;
      text-align: left;

      LI {
        padding: 10px 50px 10px 20px;

        &.divider {
          padding-top: 0px;
          padding-bottom: 0px;

          > .divider-inner {
            padding: 0;
            border-bottom: 1px solid var(--dropdown-divider);
            width: 125%;
            margin: 0 auto;
          }
        }

        &:not(.divider):hover {
          background-color: var(--dropdown-hover-bg);
          color: var(--dropdown-hover-text);
          cursor: pointer;
        }
      }

    }
  }
}
