.tooltip {
  $triangle-size: 5px;
  $triangle-inner-size: $triangle-size - 1px;
  $center: calc(50% - #{$triangle-size});

  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: var(--tooltip-bg);
    color: var(--tooltip-text);
    border-radius: var(--border-radius);
    border: 1px solid var(--tooltip-border);
    padding: 4px 8px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border: $triangle-size solid transparent;
    position: absolute;
    z-index: 1;

    &:after {
      position: absolute;
      border: $triangle-inner-size solid transparent;
      content: '';
    }
  }

  &[x-placement^="top"] {
    margin-bottom: $triangle-size;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      bottom: -4px;
    }

    margin-bottom: $triangle-size;

    .tooltip-arrow {
      border-bottom-width: 0;
      border-top-color: var(--tooltip-border);
      bottom: -$triangle-inner-size;
      
      &:after {
        border-bottom-width: 0;
        border-top-color: var(--tooltip-bg);
        bottom: 1px;
        left: -$triangle-inner-size;
      }
    }
  }
  

  &[x-placement^="bottom"] {
    margin-top: $triangle-size;

    .tooltip-arrow {
      border-top-width: 0;
      border-bottom-color: var(--tooltip-border);
      top: -$triangle-inner-size;
      
      &:after {
        border-top-width: 0;
        border-bottom-color: var(--tooltip-bg);
        top: 1px;
        left: -$triangle-inner-size;
      }
    }
  }

  &[x-placement^="right"] {
    margin-left: $triangle-size;

    .tooltip-arrow {
      border-left-width: 0;
      border-right-color: var(--tooltip-border);
      left: -$triangle-inner-size;
      
      &:after {
        border-left-width: 0;
        border-right-color: var(--tooltip-bg);
        left: 1px;
        top: -$triangle-inner-size;
      }
    }
  }

  &[x-placement^="left"] {
    margin-right: $triangle-size;

    .tooltip-arrow {
      border-right-width: 0;
      border-left-color: var(--tooltip-border);
      right: -$triangle-inner-size;
      
      &:after {
        border-right-width: 0;
        border-left-color: var(--tooltip-bg);
        right: 1px;
        top: -$triangle-inner-size;
      }
    }
  }
}

.popover {
  $color: var(--popover-bg);
  border: 1px solid var(--border);
  border-radius: var(--popover-border-radius);

  .popover-inner {
    background: $color;
    color: var(--popover-text);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 30px var(--overlay-bg);

    a {
      color: var(--popover-text);
    }
  }

  .popover-arrow {
    border-color: $color;
  }
}

.v-popover {
  display: inline;
}

.tooltip, .popover {
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
