coverage
.nyc_output
node_modules/
.npm
.eslintcache
.env
.cache
.next

dist
dist-pkg
.DS_Store
shell/utils/dynamic-importer.js
ksconfig.json
storybook-static/
utils/dynamic-importer.js
shell/assets/fonts
assets/fonts
shell/pkg/import.js
shell/types/shell/index.d.ts
dist/
coverage/
build/
public/
pkg/**/node_modules
elemental-ui/
kubewarden-ui/
styleguide/src/stories/Example/
storybook/src/stories/Example/
