# Rancher API Endpoint
API=                                              # Rancher server location
CATTLE_BOOTSTRAP_PASSWORD=                        # (optional) Rancher password used for Docker initialization, adopted also for admin and skipped request
CATTLE_PASSWORD_MIN_LENGTH=                       # (optional) (default: 12) Minimum length of the Rancher initialization password

# Packages to exclude. Running `yarn clean` may be required in order for changes to take affect.
EXCLUDES_PKG="rancher-components"

# E2E
TEST_USERNAME=admin                               # Rancher user, initial one is always 'admin'
TEST_PASSWORD=                                    # User password or custom during first Rancher run
TEST_BASE_URL=                                    # URL used by Cypress to run the tests, default already set as `https://localhost:8005`
TEST_SKIP=setup                                   # (optional) set it 'true' to avoid to execute bootstrap setup tests for already initialized Rancher instances

# E2E Dashboard values needed only for recording 
TEST_PROJECT_ID=                                  # Cypres Project ID; Use any value for Sorry Cypress
CYPRESS_API_URL=                                  # Cypress unofficial dashboard Sorry Cypress
