assets/fonts
coverage
.nyc_output
node_modules/
.npm
.eslintcache
.env
.cache
.next
.nuxt
dist
dist-pkg
.DS_Store
dynamic-importer.js
ksconfig.json
nuxt.config.js
shell/utils/dynamic-importer.js
shell/assets/fonts
