$grey-100   : #000000;
$grey-90    : #141619;
$grey-80    : #25282D;
$grey-70    : #31353F;
$grey-60    : #4A4D52;
$grey-50    : #6C6F76;
$grey-40    : #92959B;
$grey-30    : #B6BAC2;
$grey-20    : #DCDFE7;
$grey-10    : #EEF0F4;
$grey-5     : #F5F7FA;
$grey-0     : #FFFFFF;

$green-140    : #025937;
$green-120    : #008657;
$green-jungle : #30BA78;
$green-80     : #42D29F;
$green-60     : #83E1BE;
$green-40     : #C0EFDE;
$green-20     : #EAFAF4;

//color for items that are not enabled
$disabled  : $grey-20;

$primary        : #2F68DF;
$primary-150    : #1A2A4D;
$primary-140    : #304778; // Active light
$primary-120    : #3459A8;
$primary-110    : #265FD9;
$primary-80     : #4871C7;
$primary-75     : #454968; // Category active dark
$primary-60     : #75A1FF;
$primary-55     : #81AEFC;
$primary-50     : #B3CBFF; // Active dark
$primary-20     : #EDF2FC;
$primary-15     : #EEF1F6; // Category active light
$secondary      : $grey-50;
$link           : $primary-80;

// Status colors
$success         : #007032;
$warning         : #FFC845;
$error           : #B13333;
$info            : #1F67DB;

$contrasted-dark: $grey-90 !default;
$contrasted-light: $grey-0 !default;

// Text selection color for terminal window (we don't want this to change with the primary color)
// The terminal alway uses a light background, so okay to use a fixed color
$selected: rgba(#3D98D3, .5);

$drag-over: #DCDEE7;

BODY, .theme-light {

  /*********************/
  --body__bg: #{$grey-0};
  --body__border: #{$grey-20};
  --link: #{$primary-80};
  
  --primary: #{$primary};
  --on-primary: #{$grey-0};
  --primary--hover: #{$primary-120};

  --non-primary-hover: #{$primary-20};

  --secondary: var(--body__bg);
  --secondary__border: #{$primary};
  --on-secondary: #{$primary};
  --secondary--hover: var(--non-primary-hover);

  --tertiary: transparent;
  --on-tertiary: var(--link);
  --tertiary--hover: var(--non-primary-hover);
  
  --active: #{$primary-140};
  --on-active: #{$grey-0};
  --active--hover: #{lighten($primary-140, 10%)};
  --category--active: #{$primary-15};
  --category--active--hover: #{$grey-20};

  --toggle-OFF__bg: #{$grey-5};
  --toggle-OFF__color: #{$grey-50};
  --toggle-ON__bg: var(--active);
  --toggle-ON__color: var(--on-active);
  --toggle-OFF--hover: #{$grey-10};

  --vertical-tabs__bg: #{$grey-5};

  --disabled-opacity: .35;

  /*********************/

  --primary-hover-bg           : #{darken($primary, 10%)};
  --primary-hover-text         : #{saturate($grey-0, 20%)};
  --primary-active-bg          : #{darken($primary, 25%)};
  --primary-active-text        : #{contrast-color(darken($primary, 25%))};
  --primary-border             : #{$primary};
  --primary-banner-bg          : #{rgba($primary, 0.15)};
  --primary-light-bg           : #{rgba($primary, 0.05)};
  --primary-keyboard-focus     : hsl(from var(--primary) h s calc(l - 10));


  .text-primary {
    color: var(--primary) !important;
  }

  .bg-primary {
    background-color: var(--primary);
    color: var(--on-primary);

    &.btn:hover {
      color: var(--primary-hover-text);
      background: var(--primary-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--primary-active-text);
      background: var(--primary-active-bg);
      }
  }

  --link                    : #{$link};
  --link-text               : #{contrast-color($link)};
  --link-text-secondary     : #{$darker};
  --link-hover-bg           : #{darken($link, 10%)};
  --link-hover-text         : #{saturate($grey-0, 20%)};
  --link-active-bg          : #{darken($link, 25%)};
  --link-active-text        : #{contrast-color(darken($link, 25%))};
  --link-border             : #{$link};
  --link-banner-bg          : #{rgba($link, 0.15)};
  --link-light-bg           : #{rgba($link, 0.05)};



  .text-link {
    color: var(--link) !important;

    &.disabled {
      color: var(--disabled-text) !important;
    }
  }

  .secondary-text-link {
    color: var(--link-text-secondary);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .bg-link {
    background-color: var(--link);
    color: var(--link-text);

    &.btn:hover {
      color: var(--link-hover-text);
      background: var(--link-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--link-active-text);
      background: var(--link-active-bg);
      }
  }

  --default                    : #{$grey-10};
  --default-hover-bg           : #{darken($grey-10, 10%)};
  --default-hover-text         : #{saturate($grey-0, 20%)};
  --default-active-bg          : #{darken($grey-10, 25%)};
  --default-active-text        : #{contrast-color(darken($grey-10, 25%))};
  --default-border             : #{$grey-10};
  --default-banner-bg          : #{rgba($grey-10, 0.15)};
  --default-light-bg           : #{rgba($grey-10, 0.05)};
  --slider-light-bg            : #{rgba($grey-0, 1)};
  --slider-light-bg-right      : #{rgba($grey-0, 0)};


  .text-default {
    color: var(--default) !important;
  }

  .bg-default {
    background-color: var(--default);
    color: var(--default-text);

    &.btn:hover {
      color: var(--default-hover-text);
      background: var(--default-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--default-active-text);
      background: var(--default-active-bg);
      }
  }

  --muted                      : #{$grey-30};

  .text-muted {
    color: var(--muted) !important;
  }

  --darker                    : #{$grey-50};
  --darker-text               : #{contrast-color($grey-50)};
  --darker-hover-bg           : #{darken($grey-50, 10%)};
  --darker-hover-text         : #{saturate($grey-0, 20%)};
  --darker-active-bg          : #{darken($grey-50, 25%)};
  --darker-active-text        : #{contrast-color(darken($grey-50, 25%))};
  --darker-border             : #{$grey-50};
  --darker-banner-bg          : #{rgba($grey-50, 0.15)};
  --darker-light-bg           : #{rgba($grey-50, 0.05)};

  .text-darker {
    color: var(--default) !important;
  }

  .bg-darker {
    background-color: var(--darker);
    color: var(--darker-text);

    &.btn:hover {
      color: var(--darker-hover-text);
      background: var(--darker-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--darker-active-text);
      background: var(--darker-active-bg);
      }
  }



  --success                    : #{$success};
  --success-text               : #{contrast-color($success)};
  --success-hover-bg           : #{darken($success, 10%)};
  --success-hover-text         : #{saturate($grey-0, 20%)};
  --success-active-bg          : #{darken($success, 25%)};
  --success-active-text        : #{contrast-color(darken($success, 25%))};
  --success-border             : #{$success};
  --success-banner-bg          : #{rgba($success, 0.15)};
  --success-light-bg           : #{rgba($success, 0.05)};

  --success-banner    : #{rgba($success, 0.10)};
  --on-success-banner : $success;

  .text-success {
    color: var(--success) !important;
  }

  .bg-success {
    background-color: var(--success);
    color: var(--success-text);

    &.btn:hover {
      color: var(--success-hover-text);
      background: var(--success-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--success-active-text);
      background: var(--success-active-bg);
      }
  }


  --info                    : #{$info};
  --info-text               : #{contrast-color($info)};
  --info-hover-bg           : #{darken($info, 10%)};
  --info-hover-text         : #{saturate($grey-0, 20%)};
  --info-active-bg          : #{darken($info, 25%)};
  --info-active-text        : #{contrast-color(darken($info, 25%))};
  --info-border             : #{$info};
  --info-banner-bg          : #{rgba($info, 0.15)};
  --info-light-bg           : #{rgba($info, 0.05)};

  --info-banner    : #{rgba($info, 0.10)};
  --on-info-banner : #{$info};

  .text-info {
    color: var(--info) !important;
  }

  .bg-info {
    background-color: var(--info);
    color: var(--info-text);

    &.btn:hover {
      color: var(--info-hover-text);
      background: var(--info-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--info-active-text);
      background: var(--info-active-bg);
      }
  }


  --warning                    : #{$warning};
  --warning-text               : #{contrast-color($warning)};
  --warning-hover-bg           : #{darken($warning, 10%)};
  --warning-hover-text         : #{saturate($grey-0, 20%)};
  --warning-active-bg          : #{darken($warning, 25%)};
  --warning-active-text        : #{contrast-color(darken($warning, 25%))};
  --warning-border             : #{$warning};
  --warning-banner-bg          : #{rgba($warning, 0.15)};
  --warning-light-bg           : #{rgba($warning, 0.05)};

  --warning-banner    : #{rgba($warning, 0.30)};
  --on-warning-banner : #924200;

  .text-warning {
    color: var(--warning) !important;
  }

  .bg-warning {
    background-color: var(--warning);
    color: var(--warning-text);

    &.btn:hover {
      color: var(--warning-hover-text);
      background: var(--warning-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--warning-active-text);
      background: var(--warning-active-bg);
      }
  }


  --error                    : #{$error};
  --error-text               : #{contrast-color($error)};
  --error-hover-bg           : #{darken($error, 10%)};
  --error-hover-text         : #{saturate($grey-0, 20%)};
  --error-active-bg          : #{darken($error, 25%)};
  --error-active-text        : #{contrast-color(darken($error, 25%))};
  --error-border             : #{$error};
  --error-banner-bg          : #{rgba($error, 0.15)};
  --error-light-bg           : #{rgba($error, 0.05)};

  --error-banner    :  #{$error};
  --on-error-banner : #FFFFFF;

  .text-error {
    color: var(--error) !important;
  }

  .bg-error {
    background-color: var(--error);
    color: var(--error-text);

    &.btn:hover {
      color: var(--error-hover-text);
      background: var(--error-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--error-active-text);
      background: var(--error-active-bg);
      }
  }

  --disabled : #{$disabled};
  --disabled-text : #{contrast-color($disabled)};
  --disabled-hover-bg : #{darken($disabled, 10%)};
  --disabled-hover-text : #{saturate($lightest, 20%)};
  --disabled-active-bg : #{darken($disabled, 25%)};
  --disabled-active-text : #{contrast-color(darken($disabled, 25%))};
  --disabled-border : #{$disabled};
  --disabled-banner-bg : #{rgba($disabled, 0.15)};
  --disabled-light-bg : #{rgba($disabled, 0.05)};


  .text-disabled {
    color: var(--disabled) !important;
  }

  .bg-disabled {
    background-color: var(--disabled);
    color: var(--disabled-text);

    &.btn:hover {
      color: var(--disabled-hover-text);
      background: var(--disabled-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--disabled-active-text);
      background: var(--disabled-active-bg);
    }
  }


  --body-bg                    : #{$grey-0};
  --body-text                  : #{$grey-90};
  --scrollbar-thumb            : #{$grey-30};
  --scrollbar-thumb-dropdown   : #{$grey-5};
  --scrollbar-track            : transparent;

  // Header, Footer and Consent banner defaults
  --banner-text-color          : #{$grey-90};

  --header-bg                  : var(--body__bg);
  --header-btn-bg              : transparent;
  --header-btn-text            : #{$grey-90};
  --header-btn-text-hover      : #{$grey-0};
  --header-input-text          : #{$grey-90};
  --header-height              : 55px;
  --header-border              : #{$grey-20};
  --header-border-size         : 1px;
  --nav-width                  : 250px;
  --nav-bg                     : var(--body__bg);
  --nav-active                 : #{$grey-10};
  --nav--hover                  : #{$grey-20};
  --nav-category-active--hover : #{$grey-20};
  --nav-active--hover          : var(--active--hover);
  --nav-expander-hover         : #{darken($grey-20, 10%)};
  --nav-border                 : #{$grey-20};
  --nav-border-size            : 1px;
  --nav-icon-badge-bg          : #{$grey-0};

  --footer-bg                  : transparent;
  --footer-height              : 0px;

  --topmenu-bg                 : var(--body__bg);
  --topmenu-text               : #{$grey-90};
  --topmost-border             : #{$grey-20};
  --topmost-shadow             : #{lighten($grey-0, 10%)};
  --topmost-light-hover        : #{$grey-10};

  --disabled-bg                : #{$disabled};
  --disabled-text              : #{$secondary};
  --box-bg                     : #{$grey-5};
  --subtle-border              : #{$grey-20};
  --border                     : #{$grey-20};
  --border-width               : 1px;
  --border-radius              : 4px;
  --border-radius-md           : 6px;
  --border-radius-lg           : 8px;
  --outline                    : var(--primary);
  --outline-width              : 1px;

  --accent-btn                 : var(--primary-banner-bg);
  --accent-btn-hover           : var(--primary);
  --accent-btn-hover-text      : #{$grey-0};

  --modal-bg                   : #{$grey-0};
  --modal-border               : #{$grey-30};
  --overlay-bg                 : #{rgba($grey-5, 0.75)};
  --shadow                     : #{rgba($grey-20, 0.85)};

  --checkbox-tick              : var(--on-active);
  --checkbox-border            : var(--body__border);
  --checkbox-tick-disabled     : #{darken($disabled, 40%)};
  --checkbox-disabled-bg       : #{$disabled};
  --checkbox-ticked-bg         : var(--active);

  --drag-over-inner-bg         : #{rgba($drag-over, 0.9)};
  --drag-over-outer-bg         : #{rgba($drag-over, 0)};

  --dropdown-bg                : #{$grey-0};
  --dropdown-border            : #{$grey-20};
  --dropdown-divider           : #{$grey-20};
  --dropdown-text              : #{$grey-90};
  --dropdown-active-text       : #{$grey-0};
  --dropdown-active-bg         : #{$grey-30};
  --dropdown-hover-text        : var(--body-text);
  --dropdown-hover-bg          : #{$grey-10};
  --dropdown-disabled-text     : var(--muted);
  --dropdown-disabled-bg       : #{$disabled};
  --dropdown-group-text        : #{$grey-50};
  --dropdown-highlight-text    : var(--link);

  --card-badge-text            : #ffffff;

  // UNUSED?
  --card-header                : var(--primary-banner-bg);

  --input-text                 : #{$grey-90};
  --input-label                : #{$secondary};
  --input-placeholder          : #{darken($disabled, 10%)};
  --input-border               : var(--border);
  --input-bg                   : var(--body__bg);
  --input-bg-accent            : #{darken($grey-10, 2%)};
  --input-hover-bg             : var(--box-bg);
  --input-focus-bg             : var(--box-bg);
  --input-disabled-text        : #{darken($disabled, 60%)};
  --input-disabled-label       : #{darken($disabled, 40%)};
  --input-disabled-bg          : #{$disabled};
  --input-disabled-border      : #{darken($grey-20, 10%)};
  --input-disabled-placeholder : #{darken($grey-20, 15%)};
  --input-addon-bg             : #{$grey-50};
  --input-hover-border         : #{darken($grey-20, 25%)};

  --label-secondary           : #{$darker};

  --progress-bg                : #{$grey-20};
  --progress-divider           : #{$grey-20};

  --sortable-table-bg          : #{darken($grey-0, 5%)};
  --sortable-table-row-bg      : #{$grey-0};
  --sortable-table-header-bg   : #{$grey-5};
  --sortable-table-top-divider : var(--border);
  --sortable-table-body-divider : #{$grey-20};

  --sortable-table-hover-bg    : #{$grey-5};
  //--sortable-table-selected-bg : #{rgba($primary, 0.02)};

  --sortable-table-selected-bg : var(--primary-light-bg);
  --sortable-table-group-label : #{$secondary};

  --tag-primary                : #{$grey-90};
  --tag-bg                     : #{$grey-20};

  --popover-bg                 : var(--body__bg);
  --popover-border             : var(--border);
  --popover-text               : var(--body-text);
  --popover-border-radius      : var(--border-radius);
  --tooltip-bg                 : #{$grey-20};
  --tooltip-border             : var(--tag-primary);
  --tooltip-text               : var(--tag-primary);
  --tooltip-bg-warning         : #{rgba($warning, 0.8)};
  --tooltip-text-warning       : var(--body-text);

  --tabbed-border              : #{$grey-20};
  --tabbed-sidebar-bg          : #{$grey-5};
  --tabbed-container-bg        : #{mix($grey-10, $grey-5, 15%)};

  --yaml-editor-bg             : #{$grey-5};
  --drawer-body-bg             : #{$lighter};

  --diff-border                : var(--border);
  --diff-header-bg             : var(--nav-bg);
  --diff-header-border         : var(--border);
  --diff-header                : #{rgba($grey-90, 0.3)};
  --diff-linenum-bg            : var(--nav-bg);
  --diff-linenum               : var(--muted);
  --diff-linenum-border        : var(--border);
  --diff-line-ins-bg           : $success;
  --diff-line-del-bg           : #{rgba($error, 0.75)};
  --diff-del-bg                : #{rgba($error, 0.3)};
  --diff-del-border            : #{$error};
  --diff-ins-bg                : #{rgba($success, 0.3)};
  --diff-ins-border            : #{rgba($success, 0.5)};
  --diff-chg-ins               : #{rgba($success, 0.25)};
  --diff-chg-del               : #{rgba($warning, 0.5)};
  --diff-empty-placeholder     : #{$grey-0};

  --wm-tabs-bg                 : #{$grey-20};
  --wm-tab-bg                  : #{$grey-10};
  --wm-closer-hover-bg         : #{$grey-5};
  --wm-tab-active-bg           : #{$grey-5};
  --wm-title-bg                : #{$grey-0};
  --wm-title-border            : #{$grey-20};
  --wm-body-bg                 : #{$grey-5};
  --wm-border                  : var(--border);
  --wm-tab-height              : 29px;

  --glance-bg-rgb              : 61, 152, 211;
  --glance-divider             : #{$grey-20};

  --resource-gauge-back-circle : 255, 255, 255, 0.15;

  --simple-box-bg              : #{$grey-0};
  --simple-box-border          : #{$grey-20};
  --simple-box-divider         : #{$grey-20};
  --simple-box-shadow          : none;

  --terminal-bg                : var(--body__bg);
  --terminal-cursor            : var(--warning);
  --terminal-selection         : #{$selected};
  --terminal-text              : var(--body-text);

  --logs-bg                    : var(--wm-body-bg);
  --logs-highlight             : var(--wm-body-bg);
  --logs-highlight-bg          : var(--warning);
  --logs-text                  : var(--body-text);

  --gauge-divider              : #{$grey-0};
  --gauge-zero                 : #{$grey-20};
  --gauge-success-primary      : 150, 189, 127;
  --gauge-success-secondary    : 190, 211, 172;
  --gauge-warning-primary      : 238, 226, 176;
  --gauge-warning-secondary    : 218, 195, 66;
  --gauge-error-primary        : 249, 186, 171;
  --gauge-error-secondary      : 239, 90, 83;

  --sizzle-0                   : 180, 210, 30;
  --sizzle-1                   : 225, 45, 74;
  --sizzle-2                   : 212, 66, 148;
  --sizzle-3                   : 0, 169, 217;
  --sizzle-4                   : 244, 136, 68;
  --sizzle-5                   : 0, 147, 128;
  --sizzle-6                   : 136, 81, 165;
  --sizzle-7                   : 45, 47, 149;
  --sizzle-8                   : 255, 235, 0;

  --sizzle-success             : #{red($success)}, #{green($success)}, #{blue($success)};
  --sizzle-info                : #{red($info)},    #{green($info)},    #{blue($info)};
  --sizzle-warning             : #{red($warning)}, #{green($warning)}, #{blue($warning)};
  --sizzle-error               : #{red($error)},   #{green($error)},   #{blue($error)};
  --sizzle-unknown             : #{red($disabled)},#{green($disabled)},#{blue($disabled)};

  $rancher                     : $primary;
  $partner                     : #FEA424;
  $other                       : #614EA2;

  --app-rancher-accent         : #{$rancher};
  --app-rancher-accent-text    : #ffffff;

  --app-partner-accent         : #{$partner};
  --app-partner-accent-text    : black;

  --app-color1-accent          : rgba(var(--sizzle-1), 1);
  --app-color1-accent-text     : white;

  --app-color2-accent          : rgba(var(--sizzle-2), 1);
  --app-color2-accent-text     : white;

  --app-color3-accent          : rgba(var(--sizzle-3), 1);
  --app-color3-accent-text     : white;

  --app-color4-accent          : rgba(var(--sizzle-4), 1);
  --app-color4-accent-text     : white;

  --app-color5-accent          : rgba(var(--sizzle-5), 1);
  --app-color5-accent-text     : white;

  --app-color6-accent          : rgba(var(--sizzle-6), 1);
  --app-color6-accent-text     : white;

  --app-color7-accent          : rgba(var(--sizzle-7), 1);
  --app-color7-accent-text     : white;

  --app-color8-accent          : rgba(var(--sizzle-8), 1);
  --app-color8-accent-text     : white;

  --product-icon               : #{$grey-50};
  --product-icon-active        : #{$grey-90};

  --badge-state-disabled-text  : #{$grey-50};
  --badge-state-disabled-bg    : #{$grey-5};
  --badge-state-disabled-border: #{$grey-20};

  --gap                        : 8px;
  --gap-md                     : 16px;
  --gap-lg                     : 24px;

  --click-badge-error          : #{$lightest};
  --click-badge-error-bg       : #B13333;
  --click-badge-error-border   : #7C0015;

  --click-badge-warning        : #473900;
  --click-badge-warning-bg     : #FFE47A;
  --click-badge-warning-border : #E5A200;

  --click-badge-success        : #007032;
  --click-badge-success-bg     : #CEE4D7;
  --click-badge-success-border : #1F7043;

  --click-badge-info           : #{$lightest};
  --click-badge-info-bg        : #{$info};
  --click-badge-info-border    : #2673A6;
  --bubble-bg                : #{$lighter};
}
