$grey-100   : #000000;
$grey-90    : #141619;
$grey-80    : #25282D;
$grey-70    : #31353F;
$grey-60    : #4A4D52;
$grey-50    : #6C6F76;
$grey-40    : #92959B;
$grey-30    : #B6BAC2;
$grey-20    : #DCDFE7;
$grey-10    : #EEF0F4;
$grey-5     : #F5F7FA;
$grey-0     : #FFFFFF;

$green-140    : #025937;
$green-120    : #008657;
$green-jungle : #30BA78;
$green-80     : #42D29F;
$green-60     : #83E1BE;
$green-40     : #C0EFDE;
$green-20     : #EAFAF4;

//color for items that are not enabled
$disabled  : $grey-20;

$primary        : #2F68DF;
$primary-150    : #1A2A4D;
$primary-140    : #304778; // Active light
$primary-120    : #3459A8;
$primary-110    : #496192;
$primary-80     : #4871C7;
$primary-75     : #454968; // Category active dark
$primary-60     : #75A1FF;
$primary-55     : #81AEFC;
$primary-50     : #B3CBFF; // Active dark
$primary-20     : #EDF2FC;
$primary-15     : #EEF1F6; // Category active light
$secondary      : $grey-50;
$link           : $primary-80;

// Status colors
$success         : #007032;
$warning         : #FFE47A;
$error           : #B13333;
$info            : #1F67DB;

$contrasted-dark: $grey-90 !default;
$contrasted-light: $grey-0 !default;

// Text selection color for terminal window (we don't want this to change with the primary color)
// The terminal alway uses a light background, so okay to use a fixed color
$selected: rgba(#3D98D3, .5);

$drag-over: #DCDEE7;

BODY, .theme-light {
  /*********************/
  --body-border: #{$grey-20};
  --link: #{$primary-80};
  
  --primary: #{$primary};
  --primary-text: #{$grey-0};
  --primary-hover: #{$primary-120};

  --non-primary-hover: #{$primary-20};

  --secondary: var(--body-bg);
  --secondary-border: #{$primary};
  --on-secondary: #{$primary};
  --secondary-hover: var(--non-primary-hover);

  --tertiary: transparent;
  --on-tertiary: var(--link);
  --tertiary-hover: var(--non-primary-hover);
  
  --active: #{$primary-110};
  --on-active: #{$grey-0};
  --active-hover: #{lighten($primary-110, 5%)};
  --category--active: #{$primary-15};
  --category--active-hover: #{$grey-20};

  --toggle-OFF-bg: #{$grey-5};
  --toggle-OFF-color: #{$grey-50};
  --toggle-ON-bg: var(--active);
  --toggle-ON-color: var(--on-active);
  --toggle-OFF-hover: #{$grey-10};

  --vertical-tabs-bg: #{$grey-5};

  --disabled-opacity: .45;

  /*********************/

  --primary-hover-bg           : #{darken($primary, 10%)};
  --primary-hover-text         : #{saturate($grey-0, 20%)};
  --primary-active-bg          : #{darken($primary, 25%)};
  --primary-active-text        : #{contrast-color(darken($primary, 25%))};
  --primary-border             : #{$primary};
  --primary-banner-bg          : #{rgba($primary, 0.15)};
  --primary-light-bg           : #{rgba($primary, 0.05)};
  --primary-keyboard-focus     : hsl(from var(--primary) h s calc(l - 10));

  .text-primary {
    color: var(--primary) !important;
  }

  .bg-primary {
    color: var(--primary-text);
    background-color: var(--primary-hover);

    &.btn:hover {
      color: var(--primary-hover-text);
      background: var(--primary-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--primary-active-text);
      background: var(--primary-active-bg);
      }
  }

  --link                    : #{$link};
  --link-text               : #{contrast-color($link)};
  --link-hover-bg           : #{darken($link, 10%)};
  --link-hover-text         : #{saturate($grey-0, 20%)};
  --link-active-bg          : #{darken($link, 25%)};
  --link-active-text        : #{contrast-color(darken($link, 25%))};
  --link-border             : #{$link};
  --link-banner-bg          : #{rgba($link, 0.15)};
  --link-light-bg           : #{rgba($link, 0.05)};

  .text-link {
    color: var(--link) !important;

    &.disabled {
      color: var(--disabled-text) !important;
    }
  }

  .bg-link {
    background-color: var(--link);
    color: var(--link-text);

    &.btn:hover {
      color: var(--link-hover-text);
      background: var(--link-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--link-active-text);
      background: var(--link-active-bg);
      }
  }

  --default                    : #{$grey-10};
  --default-hover-bg           : #{darken($grey-10, 10%)};
  --default-hover-text         : #{saturate($grey-0, 20%)};
  --default-active-bg          : #{darken($grey-10, 25%)};
  --default-active-text        : #{contrast-color(darken($grey-10, 25%))};
  --default-border             : #{$grey-10};
  --default-banner-bg          : #{rgba($grey-10, 0.15)};
  --default-light-bg           : #{rgba($grey-10, 0.05)};
  --slider-light-bg            : #{rgba($grey-0, 1)};
  --slider-light-bg-right      : #{rgba($grey-0, 0)};

  .text-default {
    color: var(--default) !important;
  }

  .bg-default {
    background-color: var(--default);
    color: var(--default-text);

    &.btn:hover {
      color: var(--default-hover-text);
      background: var(--default-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--default-active-text);
      background: var(--default-active-bg);
      }
  }

  --muted                      : #{$grey-30};

  .text-muted {
    color: var(--muted) !important;
  }

  --darker                    : #{$grey-50};
  --darker-text               : #{contrast-color($grey-50)};
  --darker-hover-bg           : #{darken($grey-50, 10%)};
  --darker-hover-text         : #{saturate($grey-0, 20%)};
  --darker-active-bg          : #{darken($grey-50, 25%)};
  --darker-active-text        : #{contrast-color(darken($grey-50, 25%))};
  --darker-border             : #{$grey-50};
  --darker-banner-bg          : #{rgba($grey-50, 0.15)};
  --darker-light-bg           : #{rgba($grey-50, 0.05)};

  .text-darker {
    color: var(--default) !important;
  }

  .bg-darker {
    background-color: var(--darker);
    color: var(--darker-text);

    &.btn:hover {
      color: var(--darker-hover-text);
      background: var(--darker-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--darker-active-text);
      background: var(--darker-active-bg);
      }
  }

  --success                    : #{$success};
  --success-text               : #{contrast-color($success)};
  --success-hover-bg           : #{darken($success, 10%)};
  --success-hover-text         : #{saturate($grey-0, 20%)};
  --success-active-bg          : #{darken($success, 25%)};
  --success-active-text        : #{contrast-color(darken($success, 25%))};
  --success-border             : #{$success};
  --success-banner-bg          : #{rgba($success, 0.15)};
  --success-light-bg           : #{rgba($success, 0.05)};

  .text-success {
    color: var(--success) !important;
  }

  .bg-success {
    background-color: var(--success);
    color: var(--success-text);

    &.btn:hover {
      color: var(--success-hover-text);
      background: var(--success-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--success-active-text);
      background: var(--success-active-bg);
      }
  }

  --info                    : #{$info};
  --info-text               : #{contrast-color($info)};
  --info-hover-bg           : #{darken($info, 10%)};
  --info-hover-text         : #{saturate($grey-0, 20%)};
  --info-active-bg          : #{darken($info, 25%)};
  --info-active-text        : #{contrast-color(darken($info, 25%))};
  --info-border             : #{$info};
  --info-banner-bg          : #{rgba($info, 0.15)};
  --info-light-bg           : #{rgba($info, 0.05)};

  .text-info {
    color: var(--info) !important;
  }

  .bg-info {
    background-color: var(--info);
    color: var(--info-text);

    &.btn:hover {
      color: var(--info-hover-text);
      background: var(--info-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--info-active-text);
      background: var(--info-active-bg);
      }
  }

  --warning                    : #{$warning};
  --warning-text               : #{contrast-color($warning)};
  --warning-hover-bg           : #{darken($warning, 10%)};
  --warning-hover-text         : #{saturate($grey-0, 20%)};
  --warning-active-bg          : #{darken($warning, 25%)};
  --warning-active-text        : #{contrast-color(darken($warning, 25%))};
  --warning-border             : #{$warning};
  --warning-banner-bg          : #{rgba($warning, 0.15)};
  --warning-light-bg           : #{rgba($warning, 0.05)};

  .text-warning {
    color: #CC6600;

    &::before {
      position: relative;
      top: 1px;
      content: '\ea72';
      font-family: "icons" !important;
      margin-right: 4px;
    }
  }

  .bg-warning {
    background-color: var(--warning);
    color: var(--warning-text);

    &.btn:hover {
      color: var(--warning-hover-text);
      background: var(--warning-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--warning-active-text);
      background: var(--warning-active-bg);
      }
  }


  --error                    : #{$error};
  --error-text               : #{contrast-color($error)};
  --error-hover-bg           : #{darken($error, 10%)};
  --error-hover-text         : #{saturate($grey-0, 20%)};
  --error-active-bg          : #{darken($error, 25%)};
  --error-active-text        : #{contrast-color(darken($error, 25%))};
  --error-border             : #{$error};
  --error-banner-bg          : #{rgba($error, 0.15)};
  --error-light-bg           : #{rgba($error, 0.05)};

  .text-error {
    color: var(--error);

    &::before {
      position: relative;
      top: 1px;
      content: '\ea28';
      font-family: "icons" !important;
      margin-right: 4px;
    }
  }

  .bg-error {
    background-color: var(--error);
    color: var(--error-text);

    &.btn:hover {
      color: var(--error-hover-text);
      background: var(--error-hover-bg);
      transition: all 0.3s ease;
    }

    &.btn:active {
      color: var(--error-active-text);
      background: var(--error-active-bg);
      }
  }

  --body-bg                    : #{$grey-0};
  --body-text                  : #{$grey-90};
  --scrollbar-thumb            : #{$grey-30};
  --scrollbar-thumb-dropdown   : #{$grey-5};
  --scrollbar-track            : transparent;

  // Header, Footer and Consent banner defaults
  --banner-text-color          : #{$grey-90};

  --header-bg                  : var(--body-bg);
  --header-btn-bg              : transparent;
  --header-btn-text            : #{$grey-90};
  --header-btn-text-hover      : #{$grey-0};
  --header-input-text          : #{$grey-90};
  --header-height              : 55px;
  --header-border              : #{$grey-20};
  --header-border-size         : 1px;
  --nav-width                  : 250px;
  --nav-bg                     : var(--body-bg);
  --nav-active                 : #{$grey-10};
  --nav-hover                  : #{$grey-10};
  --nav-category-active-hover : #{$grey-20};
  --nav-active-hover          : var(--active-hover);
  --nav-expander-hover         : #{darken($grey-20, 10%)};
  --nav-border                 : #{$grey-20};
  --nav-border-size            : 1px;
  --nav-icon-badge-bg          : #{$grey-0};

  --footer-bg                  : transparent;
  --footer-height              : 0px;

  --topmenu-bg                 : var(--body-bg);
  --topmenu-text               : #{$grey-90};
  --topmost-border             : #{$grey-20};
  --topmost-shadow             : #{lighten($grey-0, 10%)};
  --topmost-light-hover        : #{$grey-10};

  --disabled-bg                : #{$disabled};
  --disabled-text              : #{$secondary};
  --box-bg                     : #{$grey-5};
  --subtle-border              : #{$grey-20};
  --border                     : #{$grey-20};
  --border-width               : 1px;
  --border-radius              : 4px;
  --border-radius-lg           : 8px;
  --outline                    : var(--primary);
  --outline-width              : 1px;

  --accent-btn                 : var(--primary-banner-bg);
  --accent-btn-hover           : var(--primary);
  --accent-btn-hover-text      : #{$grey-0};

  --modal-bg                   : #{$grey-0};
  --modal-border               : #{$grey-30};
  --overlay-bg                 : #{rgba($grey-5, 0.75)};
  --shadow                     : #{rgba($grey-20, 0.85)};

  --checkbox-tick              : var(--on-active);
  --checkbox-border            : var(--body-border);
  --checkbox-tick-disabled     : #{darken($disabled, 40%)};
  --checkbox-disabled-bg       : #{$disabled};
  --checkbox-ticked-bg         : var(--active);

  --drag-over-inner-bg         : #{rgba($drag-over, 0.9)};
  --drag-over-outer-bg         : #{rgba($drag-over, 0)};

  --dropdown-bg                : #{$grey-0};
  --dropdown-border            : #{$grey-20};
  --dropdown-divider           : #{$grey-20};
  --dropdown-text              : #{$grey-90};
  --dropdown-active-text       : #{$grey-0};
  --dropdown-active-bg         : #{$grey-30};
  --dropdown-hover-text        : var(--body-text);
  --dropdown-hover-bg          : #{$grey-10};
  --dropdown-disabled-text     : var(--muted);
  --dropdown-disabled-bg       : #{$disabled};
  --dropdown-group-text        : #{$grey-50};
  --dropdown-highlight-text    : var(--link);

  --card-badge-text            : #ffffff;

  // UNUSED?
  --card-header                : var(--primary-banner-bg);

  --input-text                 : #{$grey-90};
  --input-label                : #{$secondary};
  --input-placeholder          : #{darken($disabled, 10%)};
  --input-border               : var(--border);
  --input-bg                   : var(--body-bg);
  --input-bg-accent            : #{darken($grey-10, 2%)};
  --input-hover-bg             : var(--box-bg);
  --input-focus-bg             : var(--box-bg);
  --input-disabled-text        : #{darken($disabled, 60%)};
  --input-disabled-label       : #{darken($disabled, 40%)};
  --input-disabled-bg          : #{$disabled};
  --input-disabled-border      : #{darken($grey-20, 10%)};
  --input-disabled-placeholder : #{darken($grey-20, 15%)};
  --input-addon-bg             : #{$grey-50};
  --input-hover-border         : #{darken($grey-20, 25%)};

  --progress-bg                : #{$grey-20};
  --progress-divider           : #{$grey-20};

  --sortable-table-bg          : #{darken($grey-0, 5%)};
  --sortable-table-row-bg      : #{$grey-0};
  --sortable-table-header-bg   : #{$grey-5};
  --sortable-table-top-divider : var(--border);
  --sortable-table-body-divider : #{$grey-20};

  --sortable-table-hover-bg    : #{$grey-5};
  //--sortable-table-selected-bg : #{rgba($primary, 0.02)};

  --sortable-table-selected-bg : var(--primary-light-bg);
  --sortable-table-group-label : #{$secondary};

  --tag-primary                : #{$grey-90};
  --tag-bg                     : #{$grey-20};

  --popover-bg                 : var(--body-bg);
  --popover-border             : var(--border);
  --popover-text               : var(--body-text);
  --popover-border-radius      : var(--border-radius);
  --tooltip-bg                 : #{$grey-20};
  --tooltip-border             : var(--tag-primary);
  --tooltip-text               : var(--tag-primary);
  --tooltip-bg-warning         : #{rgba($warning, 0.8)};
  --tooltip-text-warning       : var(--body-text);

  --tabbed-border              : #{$grey-20};
  --tabbed-sidebar-bg          : #{$grey-5};
  --tabbed-container-bg        : #{mix($grey-10, $grey-5, 15%)};

  --yaml-editor-bg             : #{$grey-5};

  --diff-border                : var(--border);
  --diff-header-bg             : var(--nav-bg);
  --diff-header-border         : var(--border);
  --diff-header                : #{rgba($grey-90, 0.3)};
  --diff-linenum-bg            : var(--nav-bg);
  --diff-linenum               : var(--muted);
  --diff-linenum-border        : var(--border);
  --diff-line-ins-bg           : $success;
  --diff-line-del-bg           : #{rgba($error, 0.75)};
  --diff-del-bg                : #{rgba($error, 0.3)};
  --diff-del-border            : #{$error};
  --diff-ins-bg                : #{rgba($success, 0.3)};
  --diff-ins-border            : #{rgba($success, 0.5)};
  --diff-chg-ins               : #{rgba($success, 0.25)};
  --diff-chg-del               : #{rgba($warning, 0.5)};
  --diff-empty-placeholder     : #{$grey-0};

  --wm-tabs-bg                 : #{$grey-20};
  --wm-tab-bg                  : #{$grey-10};
  --wm-closer-hover-bg         : #{$grey-5};
  --wm-tab-active-bg           : #{$grey-5};
  --wm-title-bg                : #{$grey-0};
  --wm-title-border            : #{$grey-20};
  --wm-body-bg                 : #{$grey-5};
  --wm-border                  : var(--border);
  --wm-tab-height              : 29px;

  --glance-bg-rgb              : 61, 152, 211;
  --glance-divider             : #{$grey-20};

  --resource-gauge-back-circle : 255, 255, 255, 0.15;

  --simple-box-bg              : #{$grey-0};
  --simple-box-border          : #{$grey-20};
  --simple-box-divider         : #{$grey-20};
  --simple-box-shadow          : none;

  --terminal-bg                : var(--body-bg);
  --terminal-cursor            : var(--warning);
  --terminal-selection         : #{$selected};
  --terminal-text              : var(--body-text);

  --logs-bg                    : var(--wm-body-bg);
  --logs-highlight             : var(--wm-body-bg);
  --logs-highlight-bg          : var(--warning);
  --logs-text                  : var(--body-text);

  --gauge-divider              : #{$grey-0};
  --gauge-zero                 : #{$grey-20};
  --gauge-success-primary      : 150, 189, 127;
  --gauge-success-secondary    : 190, 211, 172;
  --gauge-warning-primary      : 238, 226, 176;
  --gauge-warning-secondary    : 218, 195, 66;
  --gauge-error-primary        : 249, 186, 171;
  --gauge-error-secondary      : 239, 90, 83;

  --sizzle-0                   : 180, 210, 30;
  --sizzle-1                   : 225, 45, 74;
  --sizzle-2                   : 212, 66, 148;
  --sizzle-3                   : 0, 169, 217;
  --sizzle-4                   : 244, 136, 68;
  --sizzle-5                   : 0, 147, 128;
  --sizzle-6                   : 136, 81, 165;
  --sizzle-7                   : 45, 47, 149;
  --sizzle-8                   : 255, 235, 0;

  --sizzle-success             : #{red($success)}, #{green($success)}, #{blue($success)};
  --sizzle-info                : #{red($info)},    #{green($info)},    #{blue($info)};
  --sizzle-warning             : #{red($warning)}, #{green($warning)}, #{blue($warning)};
  --sizzle-error               : #{red($error)},   #{green($error)},   #{blue($error)};
  --sizzle-unknown             : #{red($disabled)},#{green($disabled)},#{blue($disabled)};

  $rancher                     : $primary;
  $partner                     : #FEA424;
  $other                       : #614EA2;

  --app-rancher-accent         : #{$rancher};
  --app-rancher-accent-text    : #ffffff;

  --app-partner-accent         : #{$partner};
  --app-partner-accent-text    : black;

  --app-color1-accent          : rgba(var(--sizzle-1), 1);
  --app-color1-accent-text     : white;

  --app-color2-accent          : rgba(var(--sizzle-2), 1);
  --app-color2-accent-text     : white;

  --app-color3-accent          : rgba(var(--sizzle-3), 1);
  --app-color3-accent-text     : white;

  --app-color4-accent          : rgba(var(--sizzle-4), 1);
  --app-color4-accent-text     : white;

  --app-color5-accent          : rgba(var(--sizzle-5), 1);
  --app-color5-accent-text     : white;

  --app-color6-accent          : rgba(var(--sizzle-6), 1);
  --app-color6-accent-text     : white;

  --app-color7-accent          : rgba(var(--sizzle-7), 1);
  --app-color7-accent-text     : white;

  --app-color8-accent          : rgba(var(--sizzle-8), 1);
  --app-color8-accent-text     : white;

  --product-icon               : #{$grey-50};
  --product-icon-active        : #{$grey-90};

  --badge-state-disabled-text  : #{$grey-50};
  --badge-state-disabled-bg    : #{$grey-5};
  --badge-state-disabled-border: #{$grey-20};

  --gap                        : 8px;
  --gap-md                     : 16px;
  --gap-lg                     : 24px;
  
  /* Semantics */

  --warning-badge    : #{$warning};
  --on-warning-banner : #{darken($warning, 60%)};

  --success-badge    : #{rgba($success, 0.10)};
  --on-success-banner : #{$success};

  --info-badge    : #{rgba($info, 0.10)};
  --on-info-banner : #{$info};
  
  --error-badge    :  #{$error};
  --on-error-banner : #FFFFFF;

  --error-banner-text: #{$error};
  --warning-banner-text: var(--warning-text);
}

BODY, .theme-dark {
  // Local variables for reused colors

  //dark sidebar
  $darkest: #141419;

  //dark body
  $darker: #1b1c21;

  //dark inputs
  $dark: #27292e;

  //dark borders and button
  $medium: #4a4b52;

  // dark disabled,
  $light: #6c6c76;

  //dark secondary
  $lighter: #b6b6c2;

  // dark main text
  $grey-0: #ffffff;

  // menu cluster description active+hover
  $desc-light: #EEEFF4;

  $secondary: $lighter;
  $disabled: $light;

  //Contrast colors
  $contrasted-dark: $grey-0 !default;
  $contrasted-light: $darkest !default;

  $drag-over: #DCDEE7;
  $body-bg: #25282f;

  /*********************/
  
  --body-border: #5A5F6A;
  --link: #9BBFFD;
  
  --primary: #{$primary};
  --primary-text: #{$grey-0};
  --primary-hover: #{$primary-120};

  --non-primary-hover: #323C52;

  --secondary: var(--body-bg);
  --secondary-border: #{$primary-60};
  --on-secondary: #{$primary-60};
  --secondary-hover: var(--non-primary-hover);

  --tertiary: transparent;
  --on-tertiary: var(--link);
  --tertiary-hover: var(--non-primary-hover);
  
  --active: #{$primary-50};
  --on-active: #{$grey-90};
  --active-hover: #{darken($primary-50, 5%)};
  --category--active: #{$primary-75};
  --category--active-hover: #{$grey-70};

  --toggle-OFF-bg: #{$grey-70};
  --toggle-OFF-color: #{$grey-30};
  --toggle-OFF-hover: #{$grey-90};
  --toggle-ON-bg: var(--active);
  --toggle-ON-color: var(--on-active);

  --vertical-tabs-bg: #{darken($body-bg, 10%)};
  --tabbed-sidebar-bg: var(--vertical-tabs-bg);

  --disabled-opacity: .5;

  $success         : #00FF32;
  $warning         : #FFCA4D;
  $error           : #B13333;
  $info            : #1F67DB;

  --error-text    : #FFAC99;
  --warning-text  : #{$warning};

  --success-badge    : #{rgba($success, 10%)};
  --on-success-banner : #{$success};

  --warning-badge    : #ffcc00;
  --on-warning-banner : #{darken($warning, 60%)};

  --info-badge    : #{rgba($info, 30%)};
  --on-info-banner : #{lighten($info, 50%)};

  --error-badge    :  #{$error};
  --on-error-banner : #FFFFFF;

  --error-banner-bg: #301D1D;

  --warning-banner-text: var(--warning-text);
  --error-banner-text: var(--error-text);

  /*********************/

  $slate: #4B4F6B;

  --slate: #{$slate};

  --default                    : #{$dark};
  --default-hover-bg           : #{darken($dark, 10%)};
  --default-hover-text         : #{saturate($grey-0, 20%)};
  --default-active-bg          : #{darken($dark, 25%)};
  --default-active-text        : #{contrast-color(darken($dark, 25%))};
  --default-border             : #{$dark};
  --default-banner-bg          : #{rgba($dark, 0.15)};
  --default-light-bg           : #{rgba($dark, 0.05)};
  --slider-light-bg            : #{rgba($darker, 1)};
  --slider-light-bg-right      : #{rgba($darker, 0)};

  --muted                      : #{$disabled};

  --body-bg                    : #{$body-bg};
  --body-text                  : #{$grey-0};
  --scrollbar-thumb            : #{$medium};
  --scrollbar-thumb-dropdown   : #{$medium};

  --side-menu-desc             : #{$desc-light};

  --header-bg                  : var(--body-bg);
  --header-border              : #{$medium};
  --header-btn-bg              : transparent;
  --header-btn-text            : #{$grey-0};
  --header-btn-text-hover      : #{$grey-0};
  --header-input-text          : #{$grey-0};

  // Header, Footer and Consent banner defaults
  --banner-text-color          : #{$grey-0};

  --primary-keyboard-focus     : hsl(from var(--primary) h s calc(l + 10));

  --nav-bg                     : var(--body-bg);
  --nav-active                 : #333;
  --nav-border                 : #{$medium};
  --nav-hover                 : #{$grey-60};
  --nav-category-active-hover: #{$grey-70};
  --nav-active-hover          : var(--active-hover);
  --nav-expander-hover         : var(--primary-banner-bg);
  --nav-icon-badge-bg          : #{$dark};

  --disabled-bg                : #{darken($disabled, 10%)};
  --disabled-text              : #{$secondary};
  --box-bg                     : #{$darkest};
  --subtle-border              : #{$darkest};
  --border                     : #{$medium};

  --topmenu-bg                 : var(--body-bg);
  --topmenu-text               : #{$grey-0};
  --topmost-border             : #{$medium};
  --topmost-shadow             : #{lighten($darkest, 5%)};
  --topmost-light-hover        : #{$medium};

  --accent-btn                 : var(--primary-banner-bg);
  --accent-btn-hover           : var(--primary);
  --accent-btn-hover-text      : #{$grey-0};

  --modal-bg                   : #{$dark};
  --modal-border               : #{$medium};
  --overlay-bg                 : #{rgba($darkest, 0.75)};
  --shadow                     : #{rgba($darkest, 0.9)};

  --checkbox-tick              : var(--on-active);
  --checkbox-border            : var(--body-border);
  --checkbox-tick-disabled     : #{lighten($disabled, 50%)};
  --checkbox-disabled-bg       : #{$disabled};
  --checkbox-ticked-bg         : var(--active);

  --drag-over-inner-bg         : #{rgba($drag-over, 0.9)};
  --drag-over-outer-bg         : #{rgba($drag-over, 0)};

  --dropdown-bg                : #{mix($medium, $dark, 10%)};
  --dropdown-border            : #{$light};
  --dropdown-divider           : #{$light};
  --dropdown-text              : #{$grey-0};
  --dropdown-active-text       : #{$grey-0};
  --dropdown-active-bg         : #{$light};
  --dropdown-hover-text        : #{$grey-0};
  --dropdown-hover-bg          : #{$slate};
  --dropdown-disabled-bg       : #{$disabled};
  --dropdown-disabled-text     : #{$disabled};
  --dropdown-group-text        : #{$lighter};
  --dropdown-highlight-text    : var(--link);

  --input-text                 : #{$grey-0};
  --input-label                : #{$lighter};
  --input-placeholder          : #{$disabled};
  --input-border               : #627084;
  --input-bg                   : var(--body-bg);
  --input-bg-accent            : #{darken($dark, 3%)};
  --input-hover-bg             : var(--box-bg);
  --input-focus-bg             : var(--box-bg);
  --input-disabled-text        : #{darken($grey-0, 50%)};
  --input-disabled-label       : #{darken($lighter, 30%)};
  --input-disabled-bg          : #{darken($disabled, 30%)};
  --input-disabled-border      : #{darken($medium, 30%)};
  --input-disabled-placeholder : #{darken($disabled, 10%)};
  --input-addon-bg             : #{$darker};

  --progress-bg                : #{$medium};
  --progress-divider           : #{$grey-0};

  --tag-primary                : #{$grey-0};
  --tag-bg                     : #{$medium};

  --popover-bg                 : #{$darker};
  --popover-border             : var(--border);
  --popover-text               : var(--body-text);

  --tooltip-bg                 : #{$medium};
  --tooltip-border             : var(--tag-primary);
  --tooltip-text               : var(--body-text);
  --tooltip-text-warning       : var(--body-text);

  --tabbed-border              : #{$medium};
  --tabbed-sidebar-bg          : #{$darkest};
  --tabbed-container-bg        : #{mix($medium, $dark, 20%)};

  --yaml-editor-bg             : #{$darkest};

  --diff-border                : var(--border);
  --diff-header-bg             : var(--nav-bg);
  --diff-header-border         : var(--border);
  --diff-header                : #{rgba($darkest, 0.3)};
  --diff-linenum-bg            : var(--nav-bg);
  --diff-linenum               : var(--muted);
  --diff-linenum-border        : var(--border);
  --diff-line-ins-bg           : $success;
  --diff-line-del-bg           : #{rgba($error, 0.75)};
  --diff-del-bg                : #{rgba($error, 0.3)};
  --diff-del-border            : #{$error};
  --diff-ins-bg                : #{rgba($success, 0.3)};
  --diff-ins-border            : #{rgba($success, 0.5)};
  --diff-chg-ins               : #{rgba($success, 0.25)};
  --diff-chg-del               : #{rgba($warning, 0.5)};
  --diff-chg-dela               : #{rgba($warning, 1)};
  --diff-empty-placeholder     : #{$darker};


  --wm-tabs-bg                 : #{mix($medium, $dark, 10%)};
  --wm-tab-bg                  : #{$darkest};
  --wm-closer-hover-bg         : #{$medium};
  --wm-tab-active-bg           : #{$darker};
  --wm-title-bg                : #{$darkest};
  --wm-title-border            : #{$medium};
  --wm-body-bg                 : #{$darkest};
  --wm-border                  : black;

  --glance-divider             : #{$medium};

  --resource-gauge-back-circle : 74, 75, 82, 0.5;

  --simple-box-bg              : var(--body-bg);
  --simple-box-border          : #{$medium};
  --simple-box-divider         : #{$medium};
  --simple-box-shadow          : none;

  --terminal-bg                : var(--wm-body-bg);
  --terminal-cursor            : var(--warning);
  --terminal-selection         : #{$selected};
  --terminal-text              : var(--body-text);

  --logs-bg                    : var(--wm-body-bg);
  --logs-highlight             : var(--wm-body-bg);
  --logs-highlight-bg          : var(--warning);
  --logs-text                  : var(--body-text);

  --gauge-divider              : rgba(255, 255, 255, 0.3);
  --gauge-success-primary      : 75, 95, 64;
  --gauge-success-secondary    : 150, 189, 127;
  --gauge-warning-primary      : 218, 195, 66;
  --gauge-warning-secondary    : 109, 98, 33;
  --gauge-error-primary        : 239, 90, 83;
  --gauge-error-secondary      : 120, 45, 42;

  --product-icon               : #{$lighter};
  --product-icon-active        : #{$grey-0};

  --badge-state-disabled-text  : #{$desc-light};
  --badge-state-disabled-bg    : #{$medium};
  --badge-state-disabled-border: #{$lighter};

  $slate: #4B4F6B;

  --slate: #{$slate};

  --border: var(--body-border);
  --nav-border: var(--body-border);
  --topmost-border: var(--body-border);
  --header-border: var(--body-border);

  --nav-hover: #{lighten($body-bg, 10%)};

  --sortable-table-bg          : #{darken($body-bg, 10%)};
  --sortable-table-row-bg       : var(--body-bg);
  --sortable-table-header-bg    : #{darken($body-bg, 15%)};
  --sortable-table-top-divider  : var(--body-border);
  --sortable-table-hover-bg     : #{lighten($body-bg, 5%)};
  --sortable-table-selected-bg  : #3f4350;
  --sortable-table-group-label  : #{$grey-30};

  .text-error {
    color: var(--error-text);
  }
  .text-warning {
    color: var(--warning-text);
  }
}
