.suse {
  $green-jungle : #30BA78;
  $light-green-jungle: #4DD192;
  $lighter-green-jungle: #72EEB3;

  &.theme-light {
    --primary: #33A86F;
    --primary-text: #FFFFFF;
    --primary-hover: #{$green-120};
    --primary-hover-bg: #{$green-120};

    --link: #{$green-120};
    --active-nav: #{$green-140};

    --non-primary-text: #{$green-120};
    --non-primary-hover: #{$green-20};

    --secondary: var(--body-bg);
    --secondary-border: var(--primary);
    --on-secondary: var(--non-primary-text);
    --secondary-hover: var(--non-primary-hover);

    --tertiary: transparent;
    --on-tertiary: var(--non-primary-text);
    --tertiary-hover: var(--non-primary-hover);

    $super-light-green: #F4F6F5;
    --active: #{$green-140};
    --on-active: #{$grey-0};
    --active-hover: #{lighten($green-140, 5%)};
    --category--active: #{$super-light-green};
    --category--active-hover: #e8eeeb;

    --checkbox-tick              : var(--on-active);
    --checkbox-border            : var(--body-border);
    --checkbox-tick-disabled     : #{darken($disabled, 40%)};
    --checkbox-disabled-bg       : #{$disabled};
    --checkbox-ticked-bg         : var(--active);
  }

  &.theme-dark {
    --link: #{$lighter-green-jungle};
    --active-nav: #{$green-40};

    --primary: #{$light-green-jungle};
    --primary-text: #{$grey-90};
    --primary-hover: #{$lighter-green-jungle};
    --primary-hover-bg: #{$lighter-green-jungle};

    --non-primary-text: #{$lighter-green-jungle};
    --non-primary-hover: #1A2A4D;

    --secondary: var(--body-bg);
    --secondary-border: var(--non-primary-text);
    --on-secondary: var(--non-primary-text);
    --secondary-hover: var(--non-primary-hover);

    --tertiary: transparent;
    --on-tertiary: var(--non-primary-text);
    --tertiary-hover: var(--non-primary-hover);

    $category-active: #212523;
    --active: #{$green-40};
    --on-active: #{$grey-90};
    --active-hover: #{$green-60};
    --category--active: #{$category-active};
    --category--active-hover: #{lighten($category-active, 10%)};
  }

}
