.suse {
  $green-jungle : #30BA78;
  $light-green-jungle: #4DD192;
  $lighter-green-jungle: #72EEB3;

  &.theme-light {
    --side-menu-link: #008657;
    $super-light-green: #F4F6F5;
    --active: #{$green-140};
    --on-active: #{$grey-0};
    --active-hover: #{lighten($green-140, 5%)};
    --category--active: #{$super-light-green};
    --category--active-hover: #e8eeeb;

    --checkbox-tick              : var(--on-active);
    --checkbox-border            : var(--input-border);
    --checkbox-tick-disabled     : #{darken($disabled, 40%)};
    --checkbox-disabled-bg       : #{$disabled};
    --checkbox-ticked-bg         : var(--active);
  }

  &.theme-dark {
    --side-menu-link: #{$lighter-green-jungle};
    $category-active: #2f3e41;
    --active: #{$green-40};
    --on-active: #{$grey-90};
    --active-hover: #{$green-60};
    --category--active: #{$category-active};
    --category--active-hover: #{lighten($category-active, 10%)};
  }
}
