@mixin h-css() {
  color: var(--body-text);
  font-style: normal;
  font-weight: 400;
  margin: 0 0 10px 0;
  font-family: var(--title-font-family, unset);
}

HTML, BODY {
  font-family: $body-font;
  font-size: 14px;
}

H1, H2, H3, H4, H5, H6 {
  @include h-css;
}

H1 {
  font-size: 24px;
}

H2 {
  font-size: $font-size-h2;
}

H3 {
  font-size: 18px;
}

H4 {
  font-size: 16px;
}

H5 {
  font-size: 14px;
}

H6 {
  font-size: 12px;
  text-transform: uppercase;
}

P {
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

legend.h3-legend {
  @include h-css;
  font-size: 18px // Same as H3
}

//code
code, samp, kbd, .monospace {
  font-family: $mono-font;
  text-align: left;
}

pre {
  padding: 10px;
  border-radius: var(--border-radius);
  background: var(--box-bg);
  margin: 5px;
  overflow: auto;
}

code {
  background-color: var(--box-bg);
  display: inline-block;
  padding: 5px;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}

pre code {
  background: transparent;
  padding: 0;
}
