HTML, BODY {
  font-size: 13px;
}

H1, H2, H3, H4, H5, H6 {
  color: var(--body-text);
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0em;
  margin: 0;
}

H1 {
  font-size: 40px;
}

H2 {
  font-size: 30px;
}

H3 {
  font-size: 24px;
}

H4 {
  font-size: 20px;
  margin-bottom: 10px
}

H5 {
  font-size: 14px;
}

H6 {
  // font-size: 1.25em;
  font-size: 12px;
  line-height: 3rem;
  letter-spacing: .25em;
  text-transform: uppercase;
}

P {
  font-size: 1.4em;
  line-height: 1.75em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  margin: 0;
}
