@font-face {
  font-family: 'icons';
  src:
    url('fonts/icons.ttf?rocpjg') format('truetype'),
    url('fonts/icons.woff?rocpjg') format('woff'),
    url('fonts/icons.svg?rocpjg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e91d";
}
.icon-plus:before {
  content: "\e91e";
}
.icon-circle-plus:before {
  content: "\e91f";
}
.icon-file:before {
  content: "\e900";
}
.icon-folder:before {
  content: "\e901";
}
.icon-list-flat:before {
  content: "\e902";
}
.icon-list-grouped:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-x:before {
  content: "\e904";
}
.icon-chevron-checkmark:before {
  content: "\e91b";
}
.icon-chevron-warning:before {
  content: "\e91c";
}
.icon-info:before {
  content: "\e905";
}
.icon-error:before {
  content: "\e914";
}
.icon-chevron-right:before {
  content: "\e906";
}
.icon-chevron-left:before {
  content: "\e907";
}
.icon-chevron-down:before {
  content: "\e908";
}
.icon-chevron-up:before {
  content: "\e909";
}
.icon-spinner:before {
  content: "\e90a";
}
.icon-external-link:before {
  content: "\e90b";
}
.icon-download:before {
  content: "\e90c";
}
.icon-upload:before {
  content: "\e920";
}
.icon-copy:before {
  content: "\e90d";
}
.icon-edit:before {
  content: "\e90e";
}
.icon-trash:before {
  content: "\e90f";
}
.icon-delete:before {
  content: "\e90f";
}
.icon-gear:before {
  content: "\e910";
}
.icon-globe:before {
  content: "\e924";
}
.icon-search:before {
  content: "\e911";
}
.icon-actions:before {
  content: "\e912";
}
.icon-vertical-ellipsis:before {
  content: "\e912";
}
.icon-dot-half:before {
  content: "\e913";
}
.icon-dot-open:before {
  content: "\e915";
}
.icon-dot:before {
  content: "\e916";
}
.icon-star-open:before {
  content: "\e925";
}
.icon-star:before {
  content: "\e926";
}
.icon-user:before {
  content: "\e917";
}
.icon-sort-down:before {
  content: "\e918";
}
.icon-sort-up:before {
  content: "\e919";
}
.icon-sort:before {
  content: "\e91a";
}
.icon-github1:before {
  content: "\e921";
}
.icon-terminal:before {
  content: "\e923";
}
.icon-github:before {
  content: "\e922";
}
