$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-minus: "\e91d";
$icon-plus: "\e91e";
$icon-circle-plus: "\e91f";
$icon-file: "\e900";
$icon-folder: "\e901";
$icon-list-flat: "\e902";
$icon-list-grouped: "\e903";
$icon-close: "\e904";
$icon-x: "\e904";
$icon-checkmark: "\e91b";
$icon-warning: "\e91c";
$icon-info: "\e905";
$icon-error: "\e914";
$icon-chevron-beginning: "\e927";
$icon-chevron-end: "\e928";
$icon-chevron-right: "\e906";
$icon-chevron-left: "\e907";
$icon-chevron-down: "\e908";
$icon-chevron-up: "\e909";
$icon-spinner: "\e90a";
$icon-external-link: "\e90b";
$icon-download: "\e90c";
$icon-upload: "\e920";
$icon-copy: "\e90d";
$icon-edit: "\e90e";
$icon-trash: "\e90f";
$icon-delete: "\e90f";
$icon-gear: "\e910";
$icon-globe: "\e924";
$icon-search: "\e911";
$icon-actions: "\e912";
$icon-vertical-ellipsis: "\e912";
$icon-dot-half: "\e913";
$icon-dot-open: "\e915";
$icon-dot: "\e916";
$icon-star-open: "\e925";
$icon-star: "\e926";
$icon-user: "\e917";
$icon-sort-down: "\e918";
$icon-sort-up: "\e919";
$icon-sort: "\e91a";
$icon-github1: "\e921";
$icon-terminal: "\e923";
$icon-github: "\e922";

