.theme-dark {
  // Local variables for reused colors

  //dark sidebar
  $darkest          : #141419;

  //dark body 
  $darker           : #1B1C21;

  //dark inputs
  $dark             : #27292E;

  //dark borders and button
  $medium           : #4A4B52;

  // dark disabled,
  $light            : #6C6C76;

  //dark secondary
  $lighter           : #B6B6C2;

  // dark main text
  $lightest         : #FFFFFF;

  $secondary        : $lighter;
  $disabled         : $light;

  //Contrast colors
  $contrasted-dark  : $lightest !default;
  $contrasted-light : $darkest !default;

  // Colors that will have text- and bg- helper classes created
  // value can also be map of default, default-text, hover-text, hover-bg, active-text,  active-bg)
  @include color-variables((
    default:    $dark,
    muted:      $disabled,
    link:       (
      default-text: $link,
      hover-text:   lighten($link, 10%),
      active-text:  lighten($link, 25%),
      default:      transparent,
      hover-bg:     transparent,
      active-bg:    transparent,
    ),
    primary:    $primary,
    secondary:  $secondary,
  ));

  --default-text               : #{$light};




  --body-bg                    : #{$darker};
  --body-text                  : #{$lightest};
  --scrollbar-thumb            : #{$medium};
  --scrollbar-thumb-dropdown   : #{$darker};

  --nav-bg                     : #{$darkest};
  --nav-active                 : var(--primary);

  --disabled-bg                : #{$disabled};
  --box-bg                     : #{$darkest};
  --border                     : #{$medium};

  --accent-btn                 : #{rgba($primary, 0.2)};
  --overlay-bg                 : #{rgba($darkest, 0.75)};

  --dropdown-bg                : #{$dark};
  --dropdown-border            : var(--border);
  --dropdown-divider           : #{$light};
  --dropdown-text              : #{$link};
  --dropdown-hover-text        : #{$lightest};
  --dropdown-hover-bg          : #{$selected};
  --dropdown-disabled-bg       : #{$disabled};

  --input-text                 : #{$lightest};
  --input-label                : #{$lighter};
  --input-placeholder          : #{$secondary};
  --input-border               : var(--border);
  --input-bg                   : #{$dark};
  --input-hover-bg             : #{darken($medium, 15%)};
  --input-focus-bg             : #{$darkest};
  --input-disabled-text        : #{$medium};
  --input-disabled-bg          : #{$disabled};
  --input-disabled-border      : #{$disabled};
  --input-disabled-placeholder : darken($disabled, 10%);
  --input-addon-bg             : #{$darker};


  --progress-bg                : #{$medium};
  --progress-divider           : #{$lightest};

  --sortable-table-header-bg   : transparent;
  --sortable-table-accent-bg   : #{$darkest};
  --sortable-table-accent-alt  : #{$darker};
  --sortable-table-selected-bg : #{$selected};

  --tooltip-bg                 : #{rgba($primary, 0.7)};
  --tooltip-text               : var(--body-text);

  --tabbed-border              : #{$medium};
  --tabbed-container-bg        : #{$darkest};
}

