.theme-dark {
  // Local variables for reused colors

  //dark sidebar
  $darkest          : #141419;

  //dark body 
  $darker           : #1B1C21;

  //dark inputs
  $dark             : #212127;

  //dark borders and button
  $medium           : #27292E;

  // dark disabled,
  $light            : #6C6C76;

  //dark secondary
  $lighter           : #B6B6C2;

  // dark main text
  $lightest         : #FFFFFF;

  $secondary        : $lighter;
  $disabled         : $light;

  //Contrast colors
  $contrasted-dark  : $lightest !default;
  $contrasted-light : $darkest !default;

  // Colors that will have text- and bg- helper classes created
  // value can also be map of default, default-text, hover-text, hover-bg, active-text,  active-bg)
  @include color-variables((
    default:    $dark,
    muted:      $disabled,
    link:       (
      default-text: $link,
      hover-text:   lighten($link, 10%),
      active-text:  lighten($link, 25%),
      default:      transparent,
      hover-bg:     transparent,
      active-bg:    transparent,
    ),
    primary:    $primary,
    secondary:  $secondary,
  ));

  --default-text               : #{$light};

  --login-bg                   : #{$darkest};
  --body-bg                    : black;
  --body-text                  : #{$lightest};
  --scrollbar-thumb            : #{$medium};
  --scrollbar-thumb-dropdown   : #{$darker};
  --header-bg                  : #{$primary};
  --box-bg                     : #{$darker};
  --border                     : #{$medium};
  --nav-select                 : #{$darker};

  --nav-bg                     : #{$darkest};
  --nav-pkg                    : #{lighten($darkest, 10%)};
  --nav-sub                    : #{lighten($darkest, 15%)};
  --nav-cur-sub                : #{lighten($darkest, 25%)};
  --nav-active                 : var(--outline);

  --dropdown-bg                : #{$medium};
  --dropdown-border            : var(--border);
  --dropdown-divider           : #{$light};
  --dropdown-text              : #{$link};
  --dropdown-hover-text        : #{$lightest};
  --dropdown-hover-bg          : #{$selected};
  --dropdown-active-text       : var(--active-text);
  --dropdown-active-bg         : var(--active-bg);
  --dropdown-disabled-text     : var(--muted);
  --dropdown-disabled-bg       : transparent;

  --input-text                 : #{$lightest};
  --input-label                : #{$lighter};
  --input-placeholder          : #{$disabled};
  --input-border               : var(--border);
  --input-bg                   : #{$dark};
  --input-hover-bg             : #{$medium};
  --input-focus-bg             : #{$darkest};
  --input-addon-bg             : #{$darker};

  --modal-overlay-bg           : rgba(#000, 0.75);

  --progress-bg                : #{$medium};
  --progress-divider           : #{$lightest};

  --sortable-table-header-bg   : #{$darker};
  --sortable-table-accent-bg   : #{$darkest};
  --sortable-table-accent-alt  : #{$darker};
  --sortable-table-divider-bg  : #{$dark};
  --sortable-table-selected-bg : #{$selected};

  --tooltip-bg                 : #{$lightest};
  --tooltip-text               : #{$dark};

  --tabbed-border              : #{$medium};
  --tabbed-container-bg        : #{$darkest};
}

