@import "../base/functions";
@import "../base/mixins";
@import "../base/helpers";
@import "../base/variables";
@import "./light";

// Export required SCSS vars
:export {
    light: {
        primaryText: $darkest
    }

    dark: {
        primaryText: #B6B6C2
    }
};
