// Local variables for reused colors
//light main text
$darkest   : #141419;

//light secondary
$darker    : #6C6C76;

//light disabled
$dark      : #B6B6C2;

//light border and buttons
$medium    : #DCDEE7;

//light inputs 
$light     : #EEEFF4;

//light sidebar and box
$lighter   : #F4F5FA;

//light body bg
$lightest  : #FFFFFF;

$primary         : #3D98D3;
$secondary       : $darker;
$link            : $primary;
$disabled        : $dark;
$success         : #5D995D;
$warning         : #DAC342;
$error           : #F64747;
$info            : #213444;

$contrasted-dark: $darkest !default;
$contrasted-light: $lightest !default;

$selected: rgba($primary, .5);

:root {
  // Colors that will have text- and bg- helper classes created
  // value can also be map of default, default-text, hover-text, hover-bg, active-text,  active-bg)
  @include color-variables((
    default:    $light,
    muted:      $disabled,
    link:       (
      default-text: $link,
      hover-text:   lighten($link, 30%),
      active-text:  darken($link, 25%),
      default:      transparent,
      hover-bg:     transparent,
      active-bg:    transparent,
    ),
    primary:    $primary,
    secondary:  $secondary,
    success:    $success,
    info:       $info,
    warning:    $warning,
    error:      $error,
    darker:     $darker
  ), true);

  --body-bg                    : #{$lightest};
  --body-text                  : #{$darkest};
  --scrollbar-thumb            : #{$dark};
  --scrollbar-thumb-dropdown   : #{$lighter};
  --scrollbar-track            : transparent;

  --header-bg                  : #3797D5;
  --header-logo                : #{$lightest};
  --header-dropdown            : #317DB0;
  --header-height              : 50px;
  --nav-width                  : 220px;
  --nav-bg                     : #{$lighter};
  --nav-active                 : var(--primary);
  --footer-bg                  : transparent;
  --footer-height              : 50px;

  --disabled-bg                : #{$disabled};
  --box-bg                     : #{$lighter};
  --border                     : #{$medium};
  --border-radius              : 2px;
  --outline                    : rgba(244,245,250,0.75);
  --outline-width              : 2px;

  --accent-btn                 : #{rgba($primary, 0.2)};
  --overlay-bg                 : #{rgba($lighter, 0.75)};
  --shadow                     : #{rgba($dark, 0.75)};


  --dropdown-bg                : #{$lighter};
  --dropdown-border            : #{$medium};
  --dropdown-divider           : #{$medium};
  --dropdown-text              : #{$link};
  --dropdown-hover-text        : darken($link, 1%);
  --dropdown-hover-bg          : #{$selected};
  --dropdown-active-text       : var(--active-text);
  --dropdown-active-bg         : var(--active-bg);
  --dropdown-disabled-text     : var(--muted);
  --dropdown-disabled-bg       : #{$disabled};

  --input-text                 : #{$darkest};
  --input-label                : #{$secondary};
  --input-placeholder          : #{$disabled};
  --input-border               : var(--border);
  --input-bg                   : #{$light};
  --input-hover-bg             : var(--body-bg);
  --input-focus-bg             : #{$lightest};
  --input-disabled-text        : #{$dark};
  --input-disabled-bg          : #{$light};
  --input-disabled-border      : #{$medium};
  --input-disabled-placeholder : darken($medium, 10%);
  --input-addon-bg             : #{$medium};

  --progress-bg                : #{$medium};
  --progress-divider           : #{$medium};

  --sortable-table-bg          : transparent;
  --sortable-table-header-bg   : transparent;
  --sortable-table-accent-bg   : #{$lighter};
  --sortable-table-accent-alt  : #{$lightest};
  --sortable-table-top-divider : var(--border);
  --sortable-table-body-divider : #{$darker};
  --sortable-table-selected-bg : #{$light};

  --popover-bg                 : var(--body-bg);
  --popover-border             : var(--border);
  --popover-text               : var(--body-text);
  --popover-border-radius      : var(--border-radius);
  --tooltip-bg                 : #{$primary};
  --tooltip-border             : var(--border);
  --tooltip-text               : var(--body-text);

  --tabbed-border              : #{$medium};
  --tabbed-container-bg        : #{$lighter};
  --tabbed-container-bg-contrast: #{$light};


  --diff-border                : var(--border);
  --diff-header-bg             : var(--nav-bg);
  --diff-header-border         : var(--border);
  --diff-header                : #{rgba($darkest, 0.3)};
  --diff-linenum-bg            : var(--nav-bg);
  --diff-linenum               : var(--muted);
  --diff-linenum-border        : var(--border);
  --diff-line-ins-bg           : $success;
  --diff-line-del-bg           : #{rgba($error, 0.75)};
  --diff-del-bg                : #{rgba($error, 0.3)};
  --diff-del-border            : #{$error};
  --diff-ins-bg                : #{rgba($success, 0.3)};
  --diff-ins-border            : #{rgba($success, 0.5)};
  --diff-chg-ins               : #{rgba($success, 0.25)};
  --diff-chg-del               : #{rgba($warning, 0.5)};

  --wm-tabs-bg                 : #{$medium};
  --wm-tab-bg                  : #{$light};
  --wm-closer-hover-bg         : #{$lighter};
  --wm-tab-active-bg           : #{$lighter};
  --wm-title-bg                : #{$lightest};
  --wm-title-border            : #{$medium};
  --wm-body-bg                 : #{$lighter};
  --wm-border                  : var(--border);
  --wm-tab-height              : 25px;

  --terminal-bg                : var(--body-bg);
  --terminal-cursor            : var(--warning);
  --terminal-text              : var(--body-text);

  --logs-bg                    : var(--wm-body-bg);
  --logs-highlight             : var(--wm-body-bg);
  --logs-highlight-bg          : var(--warning);
  --logs-text                  : var(--body-text);
}
