// Local variables for reused colors
//light main text
$darkest   : #141419;

//light secondary
$darker    : #6C6C76;

//light disabled
$dark      : #B6B6C2;

//light border and buttons
$medium    : #DCDEE7;

//light inputs 
$light     : #EEEFF4;

//light sidebar and box
$lighter   : #F4F5FA;

//light body bg
$lightest  : #FFFFFF;

$primary   : #3D98D3;
$secondary : $darker;
$link      : $primary;
$disabled  : $dark;
$success   : #96BD7F;
$warning   : #DAC342;
$error     : #EF5A53;
$info      : $warning;

$contrasted-dark: $darkest !default;
$contrasted-light: $lightest !default;

$selected: rgba($primary, .5);

:root {
  // Colors that will have text- and bg- helper classes created
  // value can also be map of default, default-text, hover-text, hover-bg, active-text,  active-bg)
  @include color-variables((
    default:    $light,
    muted:      $disabled,
    link:       (
      default-text: $link,
      hover-text:   darken($link, 10%),
      active-text:  darken($link, 25%),
      default:      transparent,
      hover-bg:     transparent,
      active-bg:    transparent,
    ),
    primary:    $primary,
    secondary:  $secondary,
    success:    $success,
    info:       $info,
    warning:    $warning,
    error:      $error,
    darker:     $darker
  ), true);

  --body-bg                    : #{$lightest};
  --body-text                  : #{$darkest};
  --scrollbar-thumb            : #{$dark};
  --scrollbar-thumb-dropdown   : #{$lighter};
  --scrollbar-track            : transparent;
  --disabled-bg                : #{$disabled};
  --header-bg                  : #{$light};
  --nav-bg                     : #{$lighter};
  --footer-bg                  : ;
  --box-bg                     : #{$light};
  --border                     : #{$medium};
  --border-radius              : 2px;
  --outline                    : rgba(42,148,255,0.75);
  --outline-width              : 2px;

  --accent-btn                 : #{rgba($primary, 0.2)};

  --dropdown-bg                : #{$dark};
  --dropdown-border            : #{$medium};
  --dropdown-divider           : #{$medium};
  --dropdown-text              : #{$link};
  --dropdown-hover-text        : var(--primary-text);
  --dropdown-hover-bg          : var(--primary-bg);
  --dropdown-active-text       : var(--active-text);
  --dropdown-active-bg         : var(--active-bg);
  --dropdown-disabled-text     : var(--muted);
  --dropdown-disabled-bg       : #{$disabled};

  --overlay-bg                 : #{rgba($medium, 0.5)};

  --input-label                : #{$secondary};
  --input-text                 : #{$darkest};
  --input-placeholder          : #{$secondary};
  --input-border               : var(--$border);
  --input-bg                   : #{$light};
  --input-hover-bg             : lighten($light, 10%);
  --input-focus-bg             : #{$lightest};
  --input-hover-border         : transparent;
  --input-disabled-text        : #{$dark};
  --input-disabled-bg          : #{$medium};
  --input-disabled-border      : #{$medium};
  --input-disabled-placeholder : darken($medium, 10%);
  --input-addon-bg             : #{$medium};

  --modal-overlay-bg           : #{rgba($lighter, 0.75)};

  --progress-bg                : #{$medium};
  --progress-divider           : #{$medium};

  --sortable-table-bg          : transparent;
  --sortable-table-header-bg   : transparent;
  --sortable-table-accent-bg   : #{$lighter};
  --sortable-table-accent-alt  : #{$lightest};
  --sortable-table-divider     : var(--border);
  --sortable-table-selected-bg : #{$light};

  --tooltip-bg                 : #{$lighter};
  --tooltip-text               : #{$lightest};
  --tooltip-border-radius      : 2px;

  --tabbed-border              : #{$medium};
  --tabbed-container-bg        : #{$light};

  --diff-border                : var(--border);
  --diff-header-bg             : var(--nav-bg);
  --diff-header-border         : var(--border);
  --diff-header                : #{rgba($darkest, 0.3)};
  --diff-linenum-bg            : var(--nav-bg);
  --diff-linenum               : var(--muted);
  --diff-linenum-border        : var(--border);
  --diff-line-ins-bg           : $success;
  --diff-line-del-bg           : #{rgba($error, 0.75)};
  --diff-del-bg                : #{rgba($error, 0.3)};
  --diff-del-border            : #{$error};
  --diff-ins-bg                : #{rgba($success, 0.3)};
  --diff-ins-border            : #{rgba($success, 0.5)};
  --diff-chg-ins               : #{rgba($success, 0.25)};
  --diff-chg-del               : #{rgba($warning, 0.5)};
}
