$primary         : rgb(48, 186, 120);
$link            : $primary;

$info            : mix($primary, $secondary, 50%);
$selected        : rgba($primary, .5);

.suse-light {
  // Colors that will have text- and bg- helper classes created
  // value can also be map of default, default-text, hover-text, hover-bg, active-text,  active-bg)
  @include color-variables((
    link:       (
      default-text: $link,
      hover-text:   lighten($link, 30%),
      active-text:  darken($link, 25%),
      default:      transparent,
      hover-bg:     transparent,
      active-bg:    transparent,
    ),
    primary:    $primary,
    info:       $info,

  ), true);


  --outline                    : #{rgba($primary, 0.75)};

  --accent-btn                 : #{rgba($primary, 0.2)};
  --accent-btn-hover           : #{rgba($primary, 0.5)};

  --dropdown-hover-bg          : #{rgba($primary, 0.2)};

  --card-header                : #{rgba($primary, 0.2)};

  --tag-primary                : #{$primary};
  --tag-bg                     : #{rgba($primary, 0.2)};

  --tooltip-bg                 : #{lighten($primary, 35%)};
  --checkbox-ticked-bg         : #{$link};
  --dropdown-text              : #{$link};
  --dropdown-active-text       : #{darken($link, 1%)};
  --dropdown-hover-text        : #{lighten($link, 1%)};

  $rancher                     : $primary;

  --app-rancher-accent         : #{$rancher};
  --app-rancher-bg             : #{sizzle-gradient($rancher)};

}

