.grid {
  display: flex;
  gap: 10px
}

.theme-dark {
  &, .docs-story {
    background-color: #1b1c21;
  }
}

.theme-light {
  &, .docs-story {
    background-color: #ffffff;
  }
}
// This allows dropdowns to overflow a canvas
.sbdocs {
  z-index: 1000;

  &,
  .docs-story,
  .os-host-viewport {

    &,
    &>div {
      overflow: visible !important;
    }
  }
}