.grid {
  display: grid;
  width: 100%;
  grid-column-gap: 0;
  grid-row-gap: 0;
  justify-items: stretch;
  align-items: stretch;
}

.inline-grid {
  display: inline-grid;
  width: auto;
}

.sm-column-gap {
  grid-column-gap: 10px;
}

.sm-row-gap {
  grid-row-gap: 10px;
}

.lg-column-gap {
  grid-column-gap: 20px;
}

.lg-row-gap {
  grid-row-gap: 20px;
}

