$btn-padding: 0 21px;
$btn-sm-padding: 0 12px;
$btn-height: 40px;
$btn-sm-height: 24px;
$btn-radius: 4px;

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn,
button,
[class^='btn-'] {
  align-items: center;
  display: inline-flex;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  padding: $btn-padding;
  border-radius: $btn-radius;
  color: var(--lightest);
  line-height: $btn-height;
  height: $btn-height;

  > .icon:not(:only-child) {
    margin-right: 6px;
  }

  &:hover {
    text-decoration: none;
  }

  &.bg-transparent {
    color: var(--body-text);
  }

  &:focus-visible {
    @include focus-outline;
    outline-offset: 2px;
  }
}

//icon button
.icon-btn {
  padding: 0;
  line-height: initial;

  &.btn-sm {
    padding: 0;
  }

  span {
    padding: 0 10px 0 5px;
    vertical-align: middle;
  }
}

.btn-sm,
.btn-group-sm > .btn,
.btn-sm .btn-label {
  padding: $btn-sm-padding;
  height: $btn-sm-height;
  line-height: $btn-sm-height;
}

//btn roles
.role-primary {
  background: var(--primary);
  color: var(--primary-text);

  &:hover, &._hover {
    background-color: var(--primary-hover, var(--primary-hover-bg));
    color: var(--primary-text);
  }

  &:focus, &.focused {
    background-color: var(--primary-hover);
  }
}

.role-secondary {
  background: var(--secondary, transparent);
  color: var(--on-secondary, var(--primary));

  border: solid 1px var(--secondary-border);
  line-height: $btn-height - 2px;

  &:hover, &._hover {
    background: var(--secondary-hover);
    color: var(--on-secondary, var(--lightest));
  }

  &:focus, &.focused {
    background: var(--secondary-hover, var(--primary-hover-bg));
  }

  &.btn-sm {
    line-height: $btn-sm-height - 2px;

    &:focus, &.focused {
      border-color: transparent;
    }
  }
}

.role-tertiary {
  background: var(--tertiary, var(--accent-btn));
  color: var(--on-tertiary, var(--primary));

  &:hover, &._hover {
    background: var(--tertiary-hover);
    color: var(--on-tertiary);
  }

  &:focus, &.focused {
    background: var(--tertiary-hover);
  }
}

.role-link {
  background: var(--tertiary, transparent);
  color: var(--on-tertiary, var(--link));
  padding: 0;
  min-width: $btn-height;
  display: flex;
  justify-content: center;

  &:hover, &._hover {
    color: var(--body-text);
    background-color: transparent;
    box-shadow: none;
  }

  &:focus, &.focused {
    @include focus-outline;
    outline-offset: -2px;
  }

  &:focus-visible {
    @include focus-outline;
    outline-offset: 2px;
  }
}

.role-multi-action {
  background: var(--accent-btn);
  border: solid thin var(--primary);
  color: var(--primary);
  border-radius: 2px;
}

.icon-group i {
  font-size: 1.5em;
}

//disabled
.btn-disabled,
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: var(--disabled-opacity);

  &:hover {
    background-color: initial;
  }
}

.btn-group {
  position: relative;
  display: flex;
  gap: 4px;
  text-align: initial;
  vertical-align: middle;
  padding: 0;
  border-radius: var(--border-radius);

  .btn {
    position: relative;
    display: inline-flex;
    width: auto;
    height: 32px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background: var(--toggle-OFF-bg, var(--disabled-bg));
    color: var(--toggle-OFF-color, var(--body-text));

    &:hover {
      background: var(--toggle-OFF-hover, var(--disabled-bg));
    }
   
    &.toggle-on {
      background: var(--toggle-ON-bg, var(--primary));
      color: var(--toggle-ON-color, var(--primary-hover-text));

      &:hover {
        background: var(--active-hover, var(--primary-hover-bg));
      }
    }

    &:focus {
      // Move the focused one to the top so that the focus ring is all visible
      z-index: 1;
    }

    &:focus-visible {
      z-index: 1; 
      @include focus-outline;
    }

  }

  .btn-disabled,
  .btn[disabled] {
    // Ensure disabled button's border remains as-is, otherwise button appears vertically shorter than others in group
    border: inherit;
  }
}
