/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: local(''),
    url('~@shell/assets/fonts/poppins/poppins-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('~@shell/assets/fonts/poppins/poppins-v15-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  src: local(''),
    url('~@shell/assets/fonts/poppins/poppins-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('~@shell/assets/fonts/poppins/poppins-v15-latin-500.woff') format('woff'), /* Modern Browsers */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato1';
  font-style: normal;
  font-weight: normal;
  src: local(''),
    url('~@shell/assets/fonts/lato/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('~@shell/assets/fonts/lato/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato1';
  font-style: normal;
  font-weight: bold;
  src: local(''),
    url('~@shell/assets/fonts/lato/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('~@shell/assets/fonts/lato/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */
}

/**
 * New Lato Font
 **/

 /* Webfont: Lato-Light (300) */
@font-face {
  font-family: 'Lato2';
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  src: url('~@shell/assets/fonts/lato2/LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
       url('~@shell/assets/fonts/lato2/LatoLatin-Light.woff') format('woff'); /* Modern Browsers */
}

/* Webfont: Lato-LightItalic (300) */
@font-face {
  font-family: 'Lato2';
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  src: url('~@shell/assets/fonts/lato2/LatoLatin-LightItalic.woff2') format('woff2'), /* Modern Browsers */
       url('~@shell/assets/fonts/lato2/LatoLatin-LightItalic.woff') format('woff'); /* Modern Browsers */
}

/* Webfont: Lato-Regular (400) */
@font-face {
  font-family: 'Lato2';
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  src: url('~@shell/assets/fonts/lato2/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('~@shell/assets/fonts/lato2/LatoLatin-Regular.woff') format('woff'); /* Modern Browsers */
}

/* Webfont: Lato-Italic (400) */
@font-face {
  font-family: 'Lato2';
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  src: url('~@shell/assets/fonts/lato2/LatoLatin-Italic.woff2') format('woff2'), /* Modern Browsers */
       url('~@shell/assets/fonts/lato2/LatoLatin-Italic.woff') format('woff'); /* Modern Browsers */
}

/* Webfont: Lato-Medium (500) */
@font-face {
  font-family: 'Lato2';
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  src: url('~@shell/assets/fonts/lato2/LatoLatin-Medium.woff2') format('woff2'), /* Modern Browsers */
       url('~@shell/assets/fonts/lato2/LatoLatin-Medium.woff') format('woff'); /* Modern Browsers */
}

/* Webfont: Lato-MediumItalic (500) */
@font-face {
  font-family: 'Lato2';
  font-style: italic;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  src: url('~@shell/assets/fonts/lato2/LatoLatin-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
       url('~@shell/assets/fonts/lato2/LatoLatin-MediumItalic.woff') format('woff'); /* Modern Browsers */
}

/* Webfont: LatoLatin-Semibold (600) */
@font-face {
  font-family: 'Lato2';
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  src: url('~@shell/assets/fonts/lato2/LatoLatin-Semibold.woff2') format('woff2'), /* Modern Browsers */
       url('~@shell/assets/fonts/lato2/LatoLatin-Semibold.woff') format('woff'); /* Modern Browsers */
}

/* Webfont: LatoLatin-SemiboldItalic (600) */
@font-face {
  font-family: 'Lato2';
  font-style: italic;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  src: url('~@shell/assets/fonts/lato2/LatoLatin-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
       url('~@shell/assets/fonts/lato2/LatoLatin-SemiboldItalic.woff') format('woff'); /* Modern Browsers */
}

/* Webfont: LatoLatin-Bold (700) */
@font-face {
  font-family: 'Lato2';
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  src: url('~@shell/assets/fonts/lato2/LatoLatin-Bold.woff2') format('woff2'), /* Modern Browsers */
       url('~@shell/assets/fonts/lato2/LatoLatin-Bold.woff') format('woff'); /* Modern Browsers */
}

/* Webfont: LatoLatin-BoldItalic (700) */
@font-face {
  font-family: 'Lato2';
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  src: url('~@shell/assets/fonts/lato2/LatoLatin-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
       url('~@shell/assets/fonts/lato2/LatoLatin-BoldItalic.woff') format('woff'); /* Modern Browsers */
}

/* Webfont: Lato-Heavy (800) */
@font-face {
  font-family: 'Lato2';
  font-style: normal;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  src: url('~@shell/assets/fonts/lato2/LatoLatin-Heavy.woff2') format('woff2'), /* Modern Browsers */
       url('~@shell/assets/fonts/lato2/LatoLatin-Heavy.woff') format('woff'); /* Modern Browsers */
}

/* Webfont: Lato-HeavyItalic (800) */
@font-face {
  font-family: 'Lato2';
  font-style: italic;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  src: url('~@shell/assets/fonts/lato2/LatoLatin-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
       url('~@shell/assets/fonts/lato2/LatoLatin-HeavyItalic.woff') format('woff'); /* Modern Browsers */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: normal;
  src: local(''),
    url('~@shell/assets/fonts/roboto-mono/roboto-mono-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('~@shell/assets/fonts/roboto-mono/roboto-mono-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
}

// SUSE Font

/* suse-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'SUSE';
  font-style: normal;
  font-weight: 300;
  src: url('~@shell/assets/fonts/suse/suse-v2-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('~@shell/assets/fonts/suse/suse-v2-latin-300.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* suse-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'SUSE';
  font-style: normal;
  font-weight: 400;
  src: url('~@shell/assets/fonts/suse/suse-v2-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('~@shell/assets/fonts/suse/suse-v2-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* suse-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'SUSE';
  font-style: normal;
  font-weight: 600;
  src: url('~@shell/assets/fonts/suse/suse-v2-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('~@shell/assets/fonts/suse/suse-v2-latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* suse-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'SUSE';
  font-style: normal;
  font-weight: 700;
  src: url('~@shell/assets/fonts/suse/suse-v2-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('~@shell/assets/fonts/suse/suse-v2-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* suse-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'SUSE';
  font-style: normal;
  font-weight: 800;
  src: url('~@shell/assets/fonts/suse/suse-v2-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('~@shell/assets/fonts/suse/suse-v2-latin-800.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}
