name: Add Issues Labels
on:
  issues:
    types:
      - opened
jobs:
  add_qa_label_to_issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '20.x'
    - name: script
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: node .github/workflows/scripts/add-issue-labels.js
