name: storybook
env:
    STORYBOOK_TOKEN: ${{ secrets.STORYBOOK_TOKEN }}
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  storybook:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '16.x'
    - name: Install packages
      run: yarn install
    - name: Build Storybook
      run: |
        yarn build-storybook
    - name: Publish Storybook
      if: ${{ github.event_name == 'push' && github.repository_owner == 'rancher'}}
      run: .github/workflows/scripts/publish-storybook
