name: Tests
on:
  push:
    branches:
      - master
      - 'release-*'
  pull_request:
    branches:
      - master
      - 'release-*'
  workflow_dispatch:
    environment:
      description: 'Environment to run tests against'
      type: environment
      required: true 
      
env:
  TEST_USERNAME: admin
  TEST_PASSWORD: password
  CATTLE_BOOTSTRAP_PASSWORD: password
  TEST_BASE_URL: https://127.0.0.1:8005
  API: https://127.0.0.1
  TEST_PROJECT_ID: rancher-dashboard
  CYPRESS_API_URL: http://139.59.134.103:1234/
  TEST_RUN_ID: ${{github.run_number}}-${{github.run_attempt}}-${{github.event.pull_request.title || github.event.head_commit.message}}
  CYPRESS_coverage: true

jobs:
  e2e-test:
    if: "!contains( github.event.pull_request.labels.*.name, 'ci/skip-e2e')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v3
        with:
          node-version: '14.x'
      
      - name: Install packages
        run: yarn install
      
      - name: Prepare build
        run: yarn e2e:pre-prod
      
      - name: Run tests
        run: |
          yarn e2e:prod
          mkdir -p coverage-artifacts/coverage
          cp coverage/e2e/coverage-final.json coverage-artifacts/coverage/coverage-e2e.json

      - name: Upload coverage
        uses: actions/upload-artifact@v3
        with:
          name: ${{github.run_number}}-${{github.run_attempt}}-coverage
          path: coverage-artifacts/**/*
          
      - name: Upload screenshots
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: ${{github.run_number}}-${{github.run_attempt}}-screenshots
          path: cypress/screenshots

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v3
        with:
          node-version: '14.x'
      
      - name: Install packages
        run: yarn install
      
      - name: Run tests
        run: |
          yarn test:ci
          mkdir -p coverage-artifacts/coverage
          cp coverage/unit/coverage-final.json coverage-artifacts/coverage/coverage-unit.json

      - name: Upload coverage
        uses: actions/upload-artifact@v3
        with:
          name: ${{github.run_number}}-${{github.run_attempt}}-coverage
          path: coverage-artifacts/**/*

  i18n:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v3
        with:
          node-version: '14.x'
      
      - name: Install packages
        run: yarn install
      
      - name: Run i18n linters
        run: yarn lint-l10n

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v3
        with:
          node-version: '14.x'
      
      - name: Install packages
        run: yarn install
      
      - name: Run linters
        run: yarn lint

  coverage:
    if: "!contains( github.event.pull_request.labels.*.name, 'ci/skip-e2e')"
    runs-on: ubuntu-latest
    needs:
      - unit-test
      - e2e-test
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v3
        with:
          node-version: '14.x'

      - name: Download Coverage Artifacts
        uses: actions/download-artifact@v2
        with:
          name: ${{github.run_number}}-${{github.run_attempt}}-coverage

      - name: Merge coverage files
        run: |
          ls
          yarn coverage

      - name: Upload unit test coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unit
          files: ./coverage/coverage-unit.json
          fail_ci_if_error: true

      - name: Upload e2e test coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: e2e
          files: ./coverage/coverage-e2e.json
          fail_ci_if_error: true

      - name: Upload merged coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: merged
          files: ./coverage/coverage.json
          fail_ci_if_error: true
