
// Global stylesheet for Stryobook

// Ensure buttons have spacing between them
button {
  margin-right: 10px;
}

pre.sbdocs {
  font-family: monospace;
  font-size: 14px;
}

BODY, .sbdocs-wrapper {
  background: var(--body-bg) !important;
  color: var(--body-text);
}

H1, H2, H3, H4, H5, H6, P {
  color: var(--body-text) !important;
}

CODE:not(.language-jsx) {
  background-color: var(--box-bg) !important;;
  border: 1px solid var(--border) !important;;
  border-radius: var(--border-radius) !important;;
  color: var(--body-text) !important;
}
